[2018-06-12 12:19] jjardon opened #16 "New release?"
There has been a lot of improvements in the last 2 years since v2.18; is there any plans to a new release?

Some people is asking for an update in the Arch package :) : https://aur.archlinux.org/packages/dlt-viewer/

[2018-06-12 18:28] jeremiah commented on #16
From my understanding, there is no planned new release in the pipeline. But that doesn't mean that one can be done, I'll ask the maintainers to review your request.

[2018-06-13 14:09] jjardon commented on #16
Hey @jeremiah !

Not expectations really, but I'd like to use a tag instead a random commit to update the Arch package linked above

[2018-06-13 14:39] AWWenzel commented on #16
Hi @jjardon, @jeremiah ,

i will talk to Gernot, who is doing the maintenance.
He already planned to create a 2.19.0 version.

    Alex

[2018-07-30 10:12] jardous opened #19 "Injection messages are one character longer than with dlt-control"
Injection sent from DltViewer are one character longer than the same injection sent by dlt-control.

It looks like DltViewer adds "\0" and those messages have to be handled differently in a client app.

[2018-08-10 09:54] shadamik commented on #16
What about a deb package? Are there any recipes available?

[2018-08-10 13:41] jeremiah commented on #16
There are deb packages floating around. Because GENIVI builds its demonstrators from a source code build too we don't officially maintain deb packages but there are some built and we can provide some packaging artifacts. I'll try and gather that material.

[2018-08-10 13:50] jeremiah commented on #16
Here is the Ubuntu PPA: https://launchpad.net/~genivi-ubuntu/+archive/ubuntu/utopic.ppa
Unfortunately that only holds dlt-daemon and I think most folks want a package of dlt-viewer. I don't think that should be that hard to create, I'll look into it.

[2018-08-14 15:04] aigarius commented on #16
I am planning on getting this in Debian as well. Not sure how hard the specifics of dlt-viewer and Qt will be, but help is for sure welcome.

[2018-08-21 13:59] jeremiah commented on #16
I'm traveling at the moment, but when I'm back I plan to help as much as possible with testing (Arch packages, Debian packages, building from source) and will try and be a bridge between upstream and the distros. Fortunately we have a DLT maintainer in this thread so I'm hopeful that we can get some good, working packages out of this. :-)

[2018-08-22 10:55] jjardon commented on #16
Thanks @jeremiah , a new tag would be enough in my case (Arch) :)

[2018-09-12 03:47] zeerd opened #20 "Is there any plan to build an android edition?"
So that we could do some debug over wifi with a cellphone or pad.

[2018-09-26 14:05] zeerd commented on #20
Seems you have no plan, so I will see if I could do something.

[2018-10-09 14:56] GeniviDLTmaintainer commented on #20
No plan up to now ...

[2018-10-10 03:35] zeerd commented on #20
Ok, got it.

Er.. by the way, it is not an ad, but I made my own one last weeks.
https://github.com/zeerd/dlt-viewer-android

[2018-10-10 03:35] #20 closed

[2018-10-10 07:07] GeniviDLTmaintainer commented on #20
Great !!!!

[2019-03-17 07:24] davmann opened #24 "Fail to bind with ALEV3 and ALEV4 - Linux and Open-AVB"
Hi,
**my System is:**
- Debian 9.8 and Ubuntu 18.04.2 (fresh install, updated and fully working)
- Open-AVB (fresh install, updated and fully working)

**Version 2.19**
- fail to connect and bind to Booster ALEV3
- fail to connect and bind to Booster ALEV4

**Version 2.18**
- connect and bind to Booster ALEV3 but return no internal components logs
- connect and bind to Booster ALEV4 but return emp

[2019-04-18 11:38] punkproger opened #27 "DltMessage to raw dlt log for dlt-viewer"
Hello.

Could you please explain how to convert DltMessage structure to raw dlt log?
I want to write to file DltMessages after I get them using dltClient and filter them by my rules,
to see these logs using dlt viewer?

[code]

[2019-04-18 11:58] gunnarx commented on #27
Please explain, what do you mean by "raw dlt log"?   Will you decide yourself the format (and content) of that log?  What does that format look like?

[2019-04-18 12:03] punkproger commented on #27
@gunnarx

"raw dlt log" -- how DltMessage structure should be written in text file to open this file in dlt-viewer.

Any as I can imagine:) Different AppId, Content Id, etc.

I think standard C/C++ approaches.

[2019-04-18 13:12] gunnarx commented on #27
OK, that's understandable.

The export function in DLT-Viewer creates such a file doesn't it?  Maybe work backwards from there?
[dltexporter.cpp](https://github.com/GENIVI/dlt-viewer/blob/master/src/dltexporter.cpp)

This "raw" format seems to correspond to "FormatDlt" if I'm not guessing wrong:
[code]
Maybe the maintainer (not me) has some additional tips.

[2019-04-18 14:00] punkproger commented on #27
@gunnarx can I using std::ofstream and dltMessage structure write to file(dlt format) log to see this one in dlt-viewer? Or I should only use Qt?

[2019-04-23 07:34] AWWenzel commented on #27
The DLT file format is specified in the AUTOSAR standard Diagnostic Log and Trace, which you can found on  the AUTOSAR webpage.
Example code how the DLT Log files are written can be found in the qdlt source code as part of the DLT Viewer and in DLT daemon projects on github.

[2019-04-23 07:44] gunnarx commented on #27
I only found it in dlt-viewer (as I linked to above), but if you want to use non-Qt code, maybe it's easier to find the corresponding in dlt-daemon (Of course the answer to your question, @punkproger, is that it's *possible* to do with standard C++ code but you have to try it and see and work out the details).

Are you, by the way, looking to make an open-source project here, your ideas around fil

[2019-04-23 08:49] punkproger commented on #27
The solution is to write header and data buffer of dltMessage.
Thanks.

[2019-04-23 08:49] #27 closed

[2019-05-02 10:02] GeniviDLTmaintainer commented on #24
I guess DLT protocol is not related to ALEV !?

[2019-05-02 10:19] davmann commented on #24
You're right. DLT seems nor yet implemented in 2021 boosters, but in 2018 yes.
Anyway, even in 2018, I still cannot see DLT logs.

Maybe something wrong in the installation process? Is there something I'm missing?
These are my steps using a linux machine to compile the latest stable DLT Viewer:
* sudo apt install qt5-default
* mkdir ~/GENIVI
* cd ~/GENIVI
* git clone https://github.com/GENIVI/dlt-

[2019-05-08 16:12] vrupanov opened #28 "UDP reception breaks when filter set is changed"
If messages are received via UDP multicast, and log is >400K, changing filter set and applying leads to loss of UDP connection.

[2019-05-29 09:48] YPRenault opened #30 "Control response messages reporting errors are considered OK"
The DLT daemon reports status in a control response message that is normally formed of 5 bytes: Service ID (4B) followed by the error status (1B).
The module qdltmsg extracts the information from the message, but this guy considers that the payload must be at least 6 bytes to grab the status at the 5th position, so the status is never read and reported by default as OK while it might not be.
Check

[2019-06-11 08:04] vadrianc opened #33 "GetLogInfo payload content is missing the last byte"
Observed in DLT Viewer 2.18.0 STABLE

GetLogInfo (service ID 0x03) payload content is being displayed without the last byte from the payload:

![image](https://user-images.githubusercontent.com/13897757/59254177-614cef80-8c38-11e9-9e21-e2bd8d88fb71.png)

[2019-06-12 10:30] vadrianc opened #34 "Unsigned integer not being decoded"
Observed in DLT Viewer 2.18.0

I got a DLT file containing 4 DLT packets, each containing in the payload a single unsigned integer argument, 8-bit, 16-bit, 32-bit and 64-bit long. DLT Viewer decodes only the 8-bit long unsigned integer. If the packets are saved individually to a file, DLT Viewer displays each one, when opening the corresponding file.

See [unsigned_int_arg.zip](https://github.com/

[2019-06-18 12:31] RhavoX opened #35 "String invalid offset position calculation when binary data is used in preceding PDUs"
The string position in the message is calculated in a wrong way.
To avoid this this line needs to be removed: (588) `offset += sizeof(unsigned short);` from nonverboseplugin.
Now the string position is correctly calculated.
Can you apply this simple fix or do you require a pull request?

[2019-06-19 08:58] trevorlazarus opened #36 ""Could not connect to any X display." error when running dlt-viewer on a VPS"
After following the instructions to build dlt-viewer on an Ubuntu  EC2, I try to run dlt_viewer but am getting the following error:

`qt.qpa.screen: QXcbConnection: Could not connect to display
Could not connect to any X display.
`
I understand that this is because QT is expecting a display. Is there any work around for this. Has any one built a different version of dlt-viewer that can be run a VP

[2019-06-19 12:01] gunnarx commented on #36
@trevorlazarus Not 100% clear what you want to achieve because it is a graphical program.  So what is the behavior you expect if you manage to run it on the VPS.  Does your VPS have a GUI (X-based or otherwise) or not?

If you want just a text-based command-line tool:  When building dlt-daemon there are some command-line tools created, such as **dlt-receive**.  Maybe that can be useful as a starti

[2019-06-19 12:06] gunnarx commented on #36
OK, I saw this now.

In that case you still need to trigger it somehow I suppose.  So... well maybe you need to take some of the source code from either project and modify it to create what you want.

There are some ways to trick a "headless" system into running X programs but I'm not sure if this gets you the automated solution you probably want.  Typically, installing a VNC server will allow you

[2019-06-25 11:41] AWWenzel commented on #36
@trevorlazarus you can run the DLT Viewer by command line, but the DLt viewer is still a GUI tool in the background. I had some plans long time ago to provide a version of DLT Viewer without GUI for some use cases like you have, but i hade no time so far to develope it. As Gunnar mentioned you have to write a new tool which uses the source code from DLT Viewer like qdlt library. Sorry that i have

[2019-06-25 11:51] AWWenzel commented on #35
@RhavoX I do not think this is an error. In the DLT standard strings are not null terminated strings. They consist of a 2 byte length information and then the string itself without null termination.
Why do you think this wrong? Perhaps your non verbose DLT file is not correct?

[2019-06-25 11:58] AWWenzel commented on #34
@vadrianc I tried your file with a Windows version of DLT Viewer 64 Bit. I can see all four lines. The first one has the value 18446744073709551615, the second 4294967295, the third 65535 and the last 255.
Perhaps you have some issues with the built in index cache. Please empty or disable the cache in the Settings.

[2019-06-25 12:58] AWWenzel commented on #33
@vadrianc I can repoduce the issue, i will fix it.

[2019-06-25 13:02] AWWenzel commented on #30
@YPRenault You are right looks like an erro, i will fix this.

[2019-06-25 14:07] RhavoX commented on #35
I have verified it and it seems that you are right, thank you for your feedback.
Issue closed :)

[2019-06-25 14:07] #35 closed

[2019-06-26 10:05] GeniviDLTmaintainer commented on #28
This looks like a performance issue, which requires a seperate thread for the reception of DLT messages. Currently all message reception is performed in the main thread. A bigger rework is needed.

[2019-06-26 10:10] GeniviDLTmaintainer commented on #24
Is this topic related to the DLT Viewer or could there be an issue with the target?
Is this an UDP connection issue?

[2019-06-26 13:45] GeniviDLTmaintainer commented on #19
@jardous Yes you are right. The null termination of the string is also send, This is unnecessary, because the control message ends after the string.
To keep it consistent with dlt-control i will remove it from DLT Viewer.

[2019-06-26 13:49] AWWenzel commented on #28
I will fix this.

[2019-06-26 13:50] AWWenzel commented on #19
I will improve this.

[2019-06-26 13:54] GeniviDLTmaintainer commented on #16
The current plan is to prepare a new official release 2.19.0 until end of july 2019.

[2019-06-27 06:54] GeniviDLTmaintainer commented on #36
I did install xvfb-run on ubuntu 16.04. So I can run e.g. commandline conversion in an automated setup. But there must be a graphical session of the user running on the machine ( it does not have to be active ).
In my case e.g.:
export DISPLAY=:1.0
xvfb.run dlt_viewer -s -c /testtraces/longtrace.dlt longtrace.txt

[2019-06-27 07:29] GeniviDLTmaintainer commented on #33
Fixed, please check lattest version.

[2019-06-27 07:30] GeniviDLTmaintainer commented on #30
Fixed, please check lattest version.

[2019-06-27 07:30] GeniviDLTmaintainer commented on #19
Imrpoved, please check lattest version.

[2019-06-27 08:41] GeniviDLTmaintainer commented on #19
Reopen if not working

[2019-06-27 08:41] #19 closed

[2019-06-27 08:41] GeniviDLTmaintainer commented on #33
Reopen if not working

[2019-06-27 08:41] GeniviDLTmaintainer commented on #30
Reopen if not working

[2019-06-27 08:41] #30 closed

[2019-06-27 08:42] GeniviDLTmaintainer commented on #33
Reopen if not working

[2019-06-27 08:42] #33 closed

[2019-06-27 08:53] GeniviDLTmaintainer commented on #28
Does the Pull request "Fix the manual trigger to re-read data after reapplying filters #29" solve this issue?

[2019-07-01 17:18] svlad-90 opened #41 "[DLT Plugin] How to decode message QDltFile?"
Hi everyone.

I'm writing my own plugin in order to analyse frequency of different kinds of messages from different applications ( trace spam analyser ).

In short, when client presses the "Analyse" button, my plugin needs to iterate over all messages within a dlt file, and pass them through regex in order to do a grouping of all processed messages.

For that purpose I can't use initMsgDecoded & u

[2019-07-01 22:24] svlad-90 commented on #41
I was able to find a way out.
Still it is a work-around.
But, it works.

I've created a second instance of QDLTPluginManager within my own plugin, and managed to load plugins once again.

As my call to load the plugins is the second one ( comes after the core's one ), my call does not actually  load *.dll plugins again, as they are already loaded.

Moreover, as QDLTPluginManager hides all instance

[2019-07-01 22:33] gunnarx commented on #41
This is an interesting use case first of all, and I think others might be interested too.

I therefore feel like these kinds of exploratory design discussions would be better handled on a mailing list.  GENIVI has a dedicated list for this project:  [genivi-diagnostic-log-and-trace](https://lists.genivi.org/mailman/listinfo/genivi-diagnostic-log-and-trace_lists.genivi.org) and also the general [ge

[2019-07-01 22:50] svlad-90 commented on #41
Hi @gunnarx, thanks for your reply.

Actually I have my use-case solved.

But I'll do the following:
- I'll wait for several days to get some answers from maintainers here.
- If that will not work, I will close this issue and send message to the suggested mailing list ( genivi-diagnostic-log-and-trace ).

Hopefully one of 2 above points will allow to extend the plugin's API by allowing direct acce

[2019-07-01 22:55] gunnarx commented on #41
Note, be aware of mailing list link change - see #42

[2019-07-08 11:17] AWWenzel commented on #41
Hi @svlad-90,

you are right. There is currently no possibility to access decoded messages via the plugin interface.
You can only access the DLT messages of the current open DLT file by the QDltFile object you will get with the Plugin Callback virtual void initFileStart(QDltFile *file).

Some years ago before i stopped working on DLT Viewer i started to restructure the Plugin and decode message ha

[2019-07-08 13:09] vadrianc commented on #34
@AWWenzel I tried to reproduce it again without clearing the cache as you suggest, but I was able to see all 4 DLT lines. Since I'm unable to reproduce it again, I believe the ticket can be closed.

[2019-07-08 13:16] AWWenzel commented on #34
Cannot be reproduced.

[2019-07-08 13:16] #34 closed

[2019-07-08 13:18] AWWenzel commented on #24
Looks like a target specific issue. Please reopen if you find an issue in the DLT Viewer.

[2019-07-08 13:18] #24 closed

[2019-07-09 09:07] limkin092 opened #43 "[Command line] Export CSV"
Hello everyone,

we are currently working on application that uses DLT-Viewer to filter .dlt file and exports the filtered lines into csv. Once we use the command line for exporting the filtered lines into csv it has no delimiter and first line with all the columns names are missing.
Could you please support us, how can we address this issue?

best regards,
limkin092

[2019-07-09 14:06] #43 closed

[2019-07-15 10:48] alexmucde commented on #28
Verfified on our CI and pushed to master.
For future improvement reception of messages must be handled in a separated thread.

[2019-07-15 10:48] #28 closed

[2019-07-15 12:54] svlad-90 commented on #41
Hi @ghost,

I've just seen your message.
My quick solution is still a workaround.
It can be used by a dedicated plugin, but doesn't worth to be included to the core.

The thing which might be useful is addition of the new injection method to the plugin's interface:

virtual void injectDecoderPlugins( const QList<QDLTPluginDecoderInterface>& decoderPlugins ) = 0;

or it can be even a wrapper, to pr

[2019-07-15 13:29] alexmucde commented on #41
A rebuild of the plugins is no problem in a new release of DLT Viewer.
Yes please provide a patch. We can add it to the next version v2.20.0

[2019-07-18 17:50] MingL0L opened #45 "[Building error] Unknown module(s) in QT: serialport"
Hello,
I know noting about QT, but i need run dlt viewer in linux.
So, I was tring to build dlt viewer from source code in ubuntu 18.04 following INSTALL.txt.
First, i installed QT using following command:
    sudo apt install build-essential
    sudo apt install qtcreator
    sudo apt install qt5-default

Then,
    * mkdir build
    * cd build
    * qmake-qt5 ../BuildDltViewer.pro
    * make
Then

[2019-07-18 17:58] MingL0L commented on #45
Actually, i just need to convert .dlt file to text file. Is there some easier way?

[2019-07-19 05:29] alexmucde commented on #45
Hello @MingL0L ,

you need the package libqt5serialport5-dev in Ubuntu 18.04 to compile and install the DLT Viewer.

sudo apt install libqt5serialport5-dev

I hope this helps.

    Alex

[2019-07-19 05:46] alexmucde commented on #45
I will also update the INSTALL.txt.
Thanks for your Feedback.

   Alex

[2019-07-19 07:48] Mehmetcanss opened #46 "Unknown CMake command "QT5_WRAP_UI""
I am not a cmake user, but I did the following in MacOs, which gave me the following error:

brew install qt
Qt5_DIR="/usr/local/opt/qt" cmake src/

Gives the following error:

CMake Error at CMakeLists.txt:22 (QT5_WRAP_UI):
  Unknown CMake command "QT5_WRAP_UI".

[2019-07-19 08:05] syl22-00 commented on #46
You are not pointing to the top level CMakeLists.txt file. you should point to the root folder of the source code, not the src/ folder.

[2019-07-19 08:15] Mehmetcanss commented on #46
Thanks, it worked but only after I exported the QtDIR in my bash_profile

[2019-07-19 08:44] #46 closed

[2019-07-19 08:44] Mehmetcanss opened #48 "Why is the version UNSTABLE?"

[2019-07-19 08:45] Mehmetcanss commented on #48
I just built the DLT Viewer, However the version is UNSTABLE?
Why? Is there no stable version?

[2019-07-19 08:53] alexmucde commented on #48
A stable release v2.19.0 is planned for the next days, but we are waiting still for feedback from testers , see also #16 .
Normally every commit should be stable, as we perform CI.

[2019-07-19 09:01] #48 closed

[2019-07-25 05:50] alexmucde commented on #45
Fixed in INSTALL.txt. Please reopen, if still not working.

[2019-07-25 05:50] #45 closed

[2019-07-25 11:28] alexmucde commented on #16
Released v2.19.0 now

[2019-07-25 11:28] #16 closed

[2019-08-11 22:13] svlad-90 commented on #41
Hi everyone,
I've prepared a change, but I can't push it to this repository ( even to a separate branch ).
It seems, that I need to be added to a list of contributors in order to propose my PR.
Can someone grant me required rights?

[2019-08-12 08:01] alexmucde commented on #41
Hi @svlad-90!

Only maintainers have write access to the GENIVI repository.
You have to create a personal clone of DLT Viewer first, then push your changes to a branch there and then create the pull request.

[2019-08-12 09:31] svlad-90 commented on #41
Hi @alexmucde, Ok. Got it.
PR was created - https://github.com/GENIVI/dlt-viewer/pull/49/commits
Please, have a look.

[2019-08-12 09:48] svlad-90 opened #50 "[DLTViewer] Race condition in "initMsgDecoded" & "initMsg" callbacks"
The following 2 lines are called from within the dltfileindexerthread, which is not an owner of the plugins:

https://github.com/GENIVI/dlt-viewer/blob/master/src/dltfileindexerthread.cpp#L113
https://github.com/GENIVI/dlt-viewer/blob/master/src/dltfileindexerthread.cpp#L143

That leads to a race condition, if a plugin modifies its state in GUI thread simultaneously with these calls.

The way arou

[2019-08-13 14:48] alexmucde commented on #50
Yes you are right, this could be a problem. The Indexing thread was long time after the plugin interface definition.

Yes we should add some comments here.
The plugins must handle this use case with some mutex.

If you can provide a patch would be create.

[2019-09-16 00:38] dutchhuang opened #53 "[2.19]Compiling with MSVC 2019 and Qt 5.13.1: conflicting of declaration of pid_t and missing linking library"
When compiling with MSVC 2019 and Qt 5.13.1, there are 2 issues that I met:
1. When compiling, reported "error: conflicting types for 'pid_t' ... previous declaration of 'pid_t' was here..."
2. When linking, reported errors like "undefined reference to `__imp_setsockopt'".

[2019-09-16 00:41] dutchhuang commented on #53
Quick fixes for them:
1. comment the conflicting pid_t definition in the qdlt/dlt_types.h;
2. add '-lws2_32' to the 'LIBS' in the src/src.pro.

[2019-09-29 13:57] Lawjune opened #55 "Try to connect to ECU on serial port "ttyUSB0""
Hello,

I had installed this application by following the instruction of INSTALL.txt and been able to launch dlt-viewer application in Ubuntu 18.04.

But when i tried to connect my ubuntu laptop to the ECU (which is able to publish dlt log to Windows laptop), the TTL232 connection could not establish. Can you kindly help me to figure out what kind of drivers needed to be installed?

Thanks a lot i

[2019-10-14 15:13] alexmucde commented on #53
Hello dutchhuang,

can you provide a pull request to fix this issue?
With this fix is this still working with Linux building and older MSVC versions?

    Alex

[2019-10-14 15:23] alexmucde commented on #55
Hello Lawjune,

this should work in Ubuntu without any issues. Perhaps you try first getting your serial Port working with some other terminal tools. On some Linux platforms the port configuration does not work immediatly.  And when this is working you can try again with DLT Viewer.

Best regards

     Alex

[2019-10-14 15:27] alexmucde commented on #36
We are trying to create a command line only version of DLT Viewer, but there is much effort to do so and we need some support and a lot of time here.
I will close this issue, because i think there is a short time solution from Gernot to fix this issue.

[2019-10-14 15:27] #36 closed

[2019-10-15 08:30] ssugiura opened #56 "DLT viewer jumps to line number instead of message with index x from "Search Results""
DLT viewer jumps to unexpected lines with following scenario:
- Open lots of DLT logs.
- Click "Filter" -> "Sort by Time"
- Search something
- Double click a row in the Search Results
- DLT viewer does not jump to the message, but to the row of (Search Result)->Index

[2019-10-15 08:44] ssugiura opened #57 "DLT viewer crashes when memory consumption is high"
When we run DLT Viewer for long time and receive a lot of log files, DLT Viewer comes to non responding state.
At that time memory consumption was almost >3 GB, which is too huge.
To avoid heavy memory usage/crash, we should limit the default maximum file size in dlt-viewer to a certain value (e.g. 1GB).

[2019-10-18 08:56] alexmucde commented on #56
I tried to reproduce this issue. I have loaded several files. Enabled Sort by Time. Then searched for a specific text and found four messages. When i double click one message the Table View jumps and hilights the correct message.
Can you please retry with lattest DLT Viewer version? We had some issues in the past.

[2019-10-18 09:04] alexmucde commented on #41
PR merged.

[2019-10-18 09:04] #41 closed

[2019-10-22 06:54] svlad-90 commented on #50
Hi @alexmucde, this issue can be closed as with the following commit I've already added the requested comments:

https://github.com/GENIVI/dlt-viewer/pull/49/commits/d877610ad194cb9f7ccb6e35927d14859d273fde#diff-2793c20d3915292d92240e590f628ea1R187

[2019-10-22 07:53] alexmucde commented on #50
Already fixed.

[2019-10-22 07:53] #50 closed

[2019-10-25 15:20] svlad-90 opened #63 "Compatibility of dlt-viewer "v.2.19.0 STABLE" with Package Version "v.2.17.0 STABLE""
Within my project I've switched to dlt-viewer v.2.19.0, while dlt-daemon on target is still v.2.17.0.

When I was using version v.2.18.0 of dlt-viewer I had no issues, while after update parsing seems to be broken. Most of messages are dropped. Indexing is running way too fast. It seems that it skips the data. I've found out that the following change is the reason: https://github.com/GENIVI/dlt-vi

[2019-10-29 10:36] ssugiura commented on #56
@alexmucde I tried with the latest DLT Viewer version and could confirm that it's solved. So I will close this issue.

[2019-10-29 10:36] #56 closed

[2019-10-29 14:39] alexmucde commented on #63
There is no relationship between DLT Daemon and DLT Viewer versions. All should be comaptible as long the same DLT protocol specification is implemented. There is no incompatible change in the specification since the first release.

The change you are mentioning is an improvement of the indexing of DLT files. The problem here is that this change made things even worse, when the DLT files are corru

[2019-10-31 02:24] Gonglja opened #65 "When the connection mode is serial port connection, the viewer cannot receive the message from the daemon."
Hi, developer
I tried to use dlt-viewer on the ubuntu pc side, and run the dlt-daemon and log demo program on the pc side. The tcp network communication can receive the message from the dlt-daemon, but when I use the serial port, I can't receive the message. .
The hardware connection status is as follows: pc side uses two usb to ttl module, tx connects to rx, rx connects to tx, common GND.
Softwar

[2019-11-01 01:12] Gonglja commented on #65
Linux use ubuntu16.04

[2019-11-04 23:32] ssugiura commented on #57
@alexmucde Thanks for the info. It worked as expected. I will close this issue.

[2019-11-04 23:32] #57 closed

[2019-11-13 10:21] vadrianc opened #66 "[NonVerbose] Unknown argument type interpreted as string"
If an unknown argument type is used inside a frame found in a Fibex file, the `NonverbosePlugin::ParseFile(QString)` interprets it as a string:

`                      else
                      {
                          pdu->typeInfo = 0; // zero means a string (see below enum)
                      }`

when it should use the already defined `DltTypeInfoUnknown`:

`    //! The type definition o

[2019-11-13 10:59] ThenewOne-p opened #67 "Installing on windows 8.1"
Hello to everybody,

i trying to install dlt viewer on my win8 64 bit.

can anybody explain how to do that?

i am not a programmer and do not have skills but i want to learn.

thank you verry much.

regards

[2019-11-13 13:22] vadrianc opened #68 "[NonVerbose] Hexadecimal, binary and pointer arguments not being displayed"
If a hexidecimal, binary or pointer argument is sent in a DLT non-verbose packet, DLT Viewer does not display the value when applying the corresponding Fibex file.

               // HEX
		uint8_t hex8data = 0x1a;
		DLT_LOG_ID(con_exa3,DLT_LOG_INFO,DLT_EXA3_CON_EXA3_ID13,DLT_HEX8(hex8data));
		uint16_t hex16data = 0x1ad3;
		DLT_LOG_ID(con_exa3,DLT_LOG_INFO,DLT_EXA3_CON_EXA3_ID14,DLT_HEX16(hex16dat

[2019-11-13 14:09] alexmucde commented on #53
@dutchhuang Any update in this issue?

[2019-11-13 14:10] alexmucde commented on #55
I think this problem is solved. Please reopen if this is still an issue.

[2019-11-13 14:11] alexmucde commented on #63
I hope this issue is solved, please reopen if not.

[2019-11-13 14:11] #63 closed

[2019-11-15 08:20] alexmucde commented on #55
We will try to reproduce the issue.

[2019-11-15 08:21] alexmucde commented on #55
Duplicate of #65

[2019-11-15 08:22] alexmucde commented on #65
@Gonglja Ubuntu 16.04 already reached end of life, but we will try to reproduce with Ubuntu 18.04.

Duplicate of #55

[2019-11-15 08:31] alexmucde commented on #66
Yes you are right this is an issue. We have also to change the typeInfo variable to integer type.

@vadrianc Can you try this and provide a bug fix Pull Request?

[2019-11-15 08:38] alexmucde commented on #67
Hello @ThenewOne-p

please look at the INSTALL.txt. This should provide you some first information how to compile and install it.

First start with installing Qt SDK with Qt Creator and MSVC2015. Load the BuildDltViewer.pro file and compile and run the DLT Viewer with the Qt Creator.

Next you can try the Batch file build_sdk_windows_qt5_MSVC.bat. This will compile and copy all needed files to run

[2019-11-15 08:40] alexmucde commented on #68
You are right this is not supported so far.

@vadrianc Can you provide a Pull Request to provide the missing function?

[2019-11-16 15:28] dutchhuang commented on #53
Hello Alex,

sorry for replying so late! I don't use the registered mailbox very frequently, so I wasn't aware of your comment on it.

 I didn't spend much time on investigating the root cause of this compiling issue, and all I do was just a dirty quick fix, so I'm afraid that I cannot answer your question very accurately. Somehow I think it is not difficult to locate the problem.

My gut feeling

[2019-11-19 20:28] SvenLuebke opened #71 "Searching for case-sensitive string - after typing the wrong case first and then correcting it - is not possible"
Hi!

Due to the QCompleter, which is set to Qt::CaseInsensitive by
`newCompleter->setCaseSensitivity(Qt::CaseInsensitive);`
(in mainwindow.cpp) it's not easily possible to do a case sensitive search after typing the wrong case in the searchList. The QCompleter will always replace the string with the first "wrong" entered string.

I just commented it out and it's working as I would expect!

BR,
Sve

[2019-11-20 08:25] Lawjune commented on #55
Hi Alex,

It`s my fault of setting the wrong connection configuration. Very sorry and it`s been working now.

Thank you so much!

[2019-11-20 08:25] #55 closed

[2019-11-20 12:33] Gonglja commented on #65
ths, developer, very helpless, because the project was developed in ubuntu16.04, the customer is also using ubuntu16.04，all in ubuntu16.04...

[2019-11-21 15:19] noby256 opened #72 ""Silent mode" is flickering with gui window"
dlt_viewer with silent mode is still openning a window for a moment and closes it.

It is not bad, unless want to run a script for lots amount of dlt files for filtering.
Then it becomes an irriteted problem for you.

Alternative:
dlt_viewer could have cmd-line option for loading all files from a folder. Then you do not need to open a new dlt_viewer process per a log file.

I'm using
2.19.0, rev 7

[2019-11-22 08:58] olaf-dreyer commented on #53
Hi All,

I fixed on my branch https://github.com/olaf-dreyer/dlt-viewer

1. with this commit 21ccc02a3fcddc49db8af8dd0256312fad765a66 (Fixing compile problem on mingw64_64)

and
2. with this commit 41176a254d2a19547ecb3b6959a874407a6fb71b (Fixing link problem on mingw64_64)

Because this is a problem on mingw64_64, too.
But I don't know, if my patches are compatible to other platforms.

Regards
Ol

[2019-11-22 16:47] alexmucde commented on #65
Looks like configuration issue, see also #55

[2019-11-22 16:47] #65 closed

[2019-11-25 07:20] olaf-dreyer commented on #68
According to the AUTOSAR standard 4.0, DiagnosticLogAndTrace.pdf, Table 7-24 Assembly of Type Info, these parameter types are not included, not defined.
Therefor the standard needs to be extended, before implementing something.
Or do I miss something?

[2019-11-25 08:41] alexmucde commented on #72
@noby256

As i understand you correctly, you want to convert all single files of a directory. Or do you want to load all files of a directory and then create a single export file of all opened files?

[2019-11-25 16:27] alexmucde commented on #53
@dutchhuang Applied patch from Olaf on master, please check if master now solves the issue.

[2019-11-26 10:21] alexmucde commented on #71
Fixed with PR #80

[2019-11-26 10:21] #71 closed

[2019-11-27 06:55] alexmucde commented on #67
I hope this issue is fixed, if not please reopen ticket.

You can also now find ready build zip files for Windows on Appvoyeur, e.g. here:

https://ci.appveyor.com/project/alexmucde/dlt-viewer/build/artifacts

[2019-11-27 06:55] #67 closed

[2019-11-27 06:58] alexmucde commented on #68
If this is an extension to the standard it hink this is no problem if we provide an extension in the source code. It is only important, that it will be compatible to the standard.

[2019-11-27 07:02] olaf-dreyer commented on #68
My idea is to not extend the standard.
The PDU would be transferred as UINT and the dlt-viewer will shows this as HEX, because of the definition in the FiBEX file.

Von: Alexander Wenzel <notifications@github.com>
Gesendet: Mittwoch, 27. November 2019 07:59
An: GENIVI/dlt-viewer <dlt-viewer@noreply.github.com>
Cc: Dreyer, Olaf <Olaf.Dreyer@partner.magna.com>; Comment <comment@noreply.github.com>
B

[2019-11-27 07:21] alexmucde commented on #68
Ok then the Fibex types will be extended or based on the existent Fibex standard.

[2019-11-27 07:25] olaf-dreyer commented on #68
I would prefer the latter.
I have to sear, if we have that FiBEX standard.
Our could you send me the related informations?

Regards
Olaf

Von: Alexander Wenzel <notifications@github.com>
Gesendet: Mittwoch, 27. November 2019 08:21
An: GENIVI/dlt-viewer <dlt-viewer@noreply.github.com>
Cc: Dreyer, Olaf <Olaf.Dreyer@partner.magna.com>; Comment <comment@noreply.github.com>
Betreff: Re: [GENIVI/dlt-vie

[2019-11-27 14:53] Hades32 opened #81 "provide binaries for releases"
For most people there is no reason to build this from scratch...

[2019-12-04 11:28] sanyasinaidur opened #83 "[NonVerbose] Array of values in a single log message"
How can I send an array of  values in a single log message for example an array of 100 values in DLT non-verbose message?

//Array of Values
uint8 u_index;
uint8 MyArray_1[100U];
uint16 MyArray_2[100U];

for(u_index = 0U; u_index < 100U; u_index++)
{
  MyArray_1[u_index ] = u_index + 1U;
  MyArray_2[u_index ] = u_index + 1U;
}
DLT_LOG_ID( myContext, DLT_LOG_INFO,  DLT_MSG_ID_IUC_TEMP,   DLT_ARAY8(

[2019-12-04 17:17] sagaidakovskyi commented on #46
I have exported qt dir to bash profile:
export PATH="$PATH:/usr/local/opt/qt/bin"

However it is not clear what do you mean by "root folder of the source code". Is it directory above src/ ?

I am still getting Unknown CMake command "QT5_WRAP_UI"

[2019-12-05 10:46] sagaidakovskyi commented on #46
It appeared that I had to unzip dlt-viewer from scratch, because cmake cache prevented from correct build of application on macOS

However here are my parameters from bash_profile in case anyone might require them:

export CMAKE_PREFIX_PATH=/usr/local/Cellar/qt/5.13.2/
export Qt5_DIR="/usr/local/Cellar/qt/5.13.2/"
export QtDIR="/usr/local/Cellar/qt/5.13.2/"

[2019-12-06 08:21] alexmucde commented on #81
There are now builds for Windows available under

https://ci.appveyor.com/project/alexmucde/dlt-viewer/build/artifacts

There is a build also available for Ubuntu

https://ci.appveyor.com/project/alexmucde/dlt-viewer-3

But with now Arifacts yet.

[2019-12-06 08:24] #53 closed

[2019-12-06 08:25] alexmucde commented on #53
Please check and reopen if not solved yet

[2019-12-06 12:13] Hades32 commented on #81
Great, thank you very much !

Will this be interested here as GitHub releases? Otherwise it feels a little unofficial...

Also, do you plan, OS X builds, too?

[2020-01-04 13:19] saitamo opened #84 "ECU connect[Connection refused]"
dlt-daemon version: 2.18.4 STABLE, Target IP: 192.168.1.10
dlt-viewer version: 2.19.0 UNSTABLE, PC IP: 192.168.1.100

The network on both sides can be Ping. I have an example program that circulates log output all the time. when I choose TCP connection, the dlt-viewer always show the connection refused. But I choose UDP connection, dlt-viewer connected the target device is successful, but displaye

[2020-01-07 15:59] hkabra opened #85 "dlt-receive command crashes when huge log load comes in"
Hi,
I am using dlt-receive -f filename command to stream the logs but it crashes when a log which is quite huge in size comes in.
Unfortunately the log of interest is the huge log.

The dlt viewer works fine but when I get the logs using dlt-receive, it crashes.

[2020-01-08 00:41] ssugiura commented on #85
@hkabra dlt-receive is developed in dlt-daemon repository, not in dlt-viewer. So could you please re-raise the issue in dlt-daemon git instead with more detailed information, e.g. what is the signal raised, how much logs outputted?
BTW, -f is an option to filter messages. If you expect to output messages in dlt log file, you need to use -o.
Further discussions should be continued in dlt-daemon git

[2020-01-08 10:43] hkabra commented on #85
Thanks, I posted it there.
Yeah I used -f to filter messages but the problem, I am facing is that a single log line was so huge that it crashes the streaming of logs.

[2020-01-16 05:51] ssugiura commented on #85
Will discuss in https://github.com/GENIVI/dlt-daemon/issues/201.

[2020-01-16 05:51] #85 closed

[2020-01-20 13:49] markus-i opened #86 "incorrect scaling on high dpi display"
Easily explained: I am on a high dpi display (3840x2160) in Windows 10. Windows recommends a display scaling of 150% (which is more of a minimum). The result in dlt-viewer is horrible: the text is scaled, but the bounding boxes of the tables aren't. Manual/automatic adjustment of the width is possible, but not of the height, with the result that the characters are squeezed into the lines, and char

[2020-01-23 15:18] FaniBhushan opened #87 "Plugins are not working on Mac OS"
![Screenshot 2020-01-23 at 4 16 34 PM](https://user-images.githubusercontent.com/32452437/72996934-d7831880-3dfb-11ea-910f-178e177d6aa0.png)
after providing the path of the plugins binary and then restarting the dlt-viewer, the plugins are not loaded and plugins panel is empty.

[2020-01-27 23:29] SvenLuebke opened #88 "getMsg: Index 185984 is out of range 1243 ..\..\dlt-viewer\qdlt\qdltfile.cpp line 554"
Hallo!

This error is reported endlessly (within a fast loop) in the console after "working" with Dlt-Viewer. Unfortunately I didn't spot the root cause action yet, as I was analyzing our own issues. When this error happens, Dlt-Viewer is nearly unusable as it becomes really CPU hungry.

OK, I now have a description:

A Dlt log of ~130MB is stored on my HDD, no connection to ECUs. I have created a

[2020-02-03 15:28] spiderman07 opened #89 "Issue with UDP connection"
When creating a new connection in DLT Viewer, UTP type one with Multicast on network device enabled and ip provided and correct network interface selected, i get error on DLT Viewer saying Binding failed with this error(pulled from the code):  QAbstractSocket::SocketAddressNotAvailableError

The device is connected to that network and is responding to ping. Also i can see wireshark packets comming

[2020-02-10 12:54] sandeepbhat opened #90 "Executable name in dlt_viewer.desktop on Linux incorrect"
Executable name in dlt_viewer.desktop does not match with what is generated after the build. As a result, `dlt-viewer` is not listed in `Open With Other Application` menu. File type association does not work without editing the `/usr/share/applications/dlt_viewer.desktop`.

[code]
[code]
[code]
[code]

[2020-02-10 12:57] sandeepbhat commented on #90
I realized that this is already fixed in https://github.com/GENIVI/dlt-viewer/pull/54.

[2020-02-10 12:57] #90 closed

[2020-02-20 04:57] thanhbnq opened #91 "DLT-Viewer is frozen while doing "Save As...""
Hello dlt-viewer experts,

At the latest commit(18f1ec9601: Fix filter item...), there is an issue and it can be easily to reproduce as following scenario:
1. Board is on but dlt-daemon is not running yet.
2. Open dlt-viewer on Ubuntu
3. Configure ECU and TCP connections
4. Click "Connect all ECU's or create new one". In console terminal, there are logs:

5. Try to use "Save as..." to dlt file
6.

[2020-03-10 04:24] thanhbnq opened #92 "Problem: Serial connection with "Sync to Serial Header when receiving""
Hello dlt-viewer experts,

Please kindly check the following scenario:
1. tty-console.service is still active
2. start dlt-viewer
3. connect to ecu via serial configuration.
4. stop tty-console.service
5. run dlt-daemon, run dlt-example-user (from GENIVI/dlt-daemon) to send messages.
6. Nothing in dlt-viewer.

I try to analyze and I think the issue is about the "Sync to Serial Header when receivin

[2020-03-10 08:46] alexmucde commented on #92
Thanks for the feedback. Looks like a real problem. I will provide a fix.

[2020-03-10 10:46] alexmucde commented on #92
Your fix proposal is not correct. The right fix is:

    item->setSyncSerialHeaderSerial(this->ui->checkBoxSyncToSerialHeaderSerial->checkState()==Qt::Checked);

Also the other paramter sendSerialHeader is not handled correctly. Will fix this also.

[2020-03-11 02:09] thanhbnq commented on #92
Thank you @alexmucde !

[2020-03-11 02:10] thanhbnq commented on #91
@alexmucde Could you please give your opinion on this case as well !?

[2020-03-11 12:57] alexmucde commented on #92
Fixed and pushed to master.

[2020-03-11 12:57] #92 closed

[2020-03-12 06:53] alexmucde commented on #91
I tried to reproduce in Windows, but without success. I see the same Debug output as you.

[2020-03-12 07:01] alexmucde commented on #89
Is this issue in Windows or Linux?

[2020-03-12 07:10] alexmucde commented on #88
Hello Sven,

i tried to reproduce, but without success.
Can you try the lattest version of DLT Viewer on the master?
Any progress in this topic from your side?

    Alex

[2020-03-12 07:27] alexmucde commented on #87
Sorry we have no MacOs available.
Anyone from the community can help?

[2020-03-12 07:47] alexmucde commented on #86
Hi Markus,

i tried this at my UHD monitor at home with following build:

https://ci.appveyor.com/project/alexmucde/dlt-viewer-2/build/artifacts

MSVC2017 Qt5.13.2

I used 150% upscaling. I get a different result than you.

Only the DLT message table view looks ugly, it tries to upscale the Fond, perhaps we can try to change the Fond, perhaps also configurable in the seetings.

The search table vi

[2020-03-12 08:54] spiderman07 commented on #89
Hi.

Is this issue in Windows or Linux? -> Windows
Do you have several Ethernet interfaces on your system? -> Yes i have more. 2 adapters +1 from virtual box
Did you seleected the right Multicast Interface? yes i did select the correct one. i have tried all of them.

[2020-03-13 14:02] alexmucde commented on #86
Pushed to master new feature to set the Font and the height of the table sections.

You can try the following build.

https://ci.appveyor.com/project/alexmucde/dlt-viewer-2/build/artifacts

Tried this on my UHD monitor and works fine.

Please reopen if this still does not fix your issue.

[2020-03-13 14:02] #86 closed

[2020-03-13 14:05] alexmucde commented on #84
I think this is a network issue on your side.
Please close ticket if it is already solved.

[2020-03-13 14:10] alexmucde commented on #83
I think this is not supported in the current implementation. I think the only possibility is to send a memory buffer with DLT_ARG_RAW. If you need this feature please provide a pull request.

[2020-03-13 14:12] alexmucde commented on #81
No OS X build planned.

[2020-03-13 14:12] #81 closed

[2020-03-13 14:15] alexmucde commented on #72
Is this still an issue for you?

[2020-03-13 14:16] alexmucde commented on #68
Is this still an issue?
Can you provide a solution for this?

[2020-03-13 14:18] alexmucde commented on #66
Is this still an issue?
Can you provide a solution for this?

[2020-03-13 14:19] markus-i commented on #86
Thank you. I'll check it.

[2020-03-13 15:27] olaf-dreyer commented on #68
As far as I know, this is still an issue.
Due to project constraints, I wasn't able to to work on that.

[2020-03-13 15:37] olaf-dreyer commented on #89
There is a bug in the Qt code (as far as I know).
In my own product, I needed to implement a workaround:

        if(!m_strLocalAddress.compare("0.0.0.0") || m_strLocalAddress.isEmpty())
            bBound = m_pUdpRxSocket->bind(QHostAddress::Any, m_iLocalPort, QUdpSocket::ShareAddress);
        else
            bBound = m_pUdpRxSocket->bind(QHostAddress(m_strLocalAddress), m_iLocalPort, QUdpSocke

[2020-03-23 07:00] marudor opened #93 "Can't be build on macos currently"
The following line is a Problem for MacOS User:
https://github.com/GENIVI/dlt-viewer/blob/c54822fc47a8a7a3eb95d0f1adcc9ab0bde33b9e/src/src.pro#L23

ld does not accept equal sign here.
It works if you cange:
`-rpath=.` to `-rpath .`

I'm not sure if this would work for other platforms - thats why this is not a PR.

[2020-03-26 02:32] thanhbnq commented on #91
@alexmucde sorry for my late response!
I was testing with Ubuntu 16.04. I will try if I can give pull request for this issue.

[2020-03-31 08:02] alexmucde commented on #93
Fixed now.

[2020-03-31 08:02] #93 closed

[2020-04-01 07:12] alexmucde commented on #66
Any Update on this issue?

[2020-04-01 07:12] alexmucde commented on #68
Any Update on this issue?

[2020-04-01 07:13] alexmucde commented on #72
No feedback anymore, please reopen, if this is still an issue.

[2020-04-01 07:13] #72 closed

[2020-04-01 07:14] alexmucde commented on #83
Any update on this issue?

[2020-04-01 07:15] alexmucde commented on #84
No feedback anymore, please reopen, if this is still an issue.

[2020-04-01 07:15] #84 closed

[2020-04-01 07:16] alexmucde commented on #87
No feedback, please reopen, if this is still an issue.

[2020-04-01 07:16] #87 closed

[2020-04-01 07:17] alexmucde commented on #88
Any update on this issue?

[2020-04-01 07:20] alexmucde commented on #89
Can anyone provide a patch/Pull Request for this issue?
Or is it solved in Qt with any release of Qt?

[2020-04-01 07:21] alexmucde commented on #91
Any update on this issue?

[2020-04-01 07:37] thanhbnq commented on #91
@alexmucde I am sorry that I cannot give any try for the fix of this issue in short time. It will be really great appreciation if you (with great experience and knowledge) could help to resolve it better than me!

[2020-04-01 14:23] SvenLuebke commented on #88
Hi Alex!

Sorry for this late answer. I tried to analyze this issue, but it wasn't easy to find (at least for me as I don't the sources that good). I tried to update to Qt release 5.14.1 (hoping, that it magically disappears) first and updated to latest master, but that didn't fix it.

I just noticed that this message won't get reported if I click on the first (sometimes 3, sometimes 10000) search

[2020-04-01 14:37] SvenLuebke opened #98 "Question regarding compatibility to newer Qt releases"
Hi dlt-experts!

I noticed at least with two different Qt versions (the latest version I reproduced this is 5.14.1), that scrolling through all the messages (via the table view) in Dlt might be awesome slow. I had this issue with some 5.12.x version, then updated Qt+Dlt and it was gone. Now that I have updated to 5.14.1 this issue appeared again.

Does anyone else had this issue too?

Thanks for y

[2020-04-01 15:25] SvenLuebke commented on #98
OK...it looks like debug messages are slowing down things extremely...even one short debug message per displayed Dlt message seems to cause this effect.

I guess the question is answered and we can close it here!

[2020-04-01 15:25] #98 closed

[2020-04-02 00:22] SvenLuebke commented on #88
Sorry...this issue didn't let me sleep, but now - I think - I have an explanation for most of the things.

I'll currently assume, that you get this "issue" as well...but you just don't notice it. The reason why I am noticing it is, that I linked "*.dlt" and "*.dlp" to dlt-viewer.exe (which "speeds up" opening of Dlt files) and in this mode (probably my setting might be wrong) a console window is o

[2020-04-05 11:33] ZiadRhouma opened #99 "Filter with regular expression not working"
if I set a payload filter with regular expressions
, then no messages are shown in the DLT viewer, even though the messages already exist.

<img width="481" alt="DLT_Viewer_messages" src="https://user-images.githubusercontent.com/63190296/78473567-f9751180-7741-11ea-8125-508c5e2580cc.png">
<img width="571" alt="DLT_Viewer_regex" src="https://user-images.githubusercontent.com/63190296/78473569-fc70

[2020-04-06 11:12] alexmucde commented on #99
We are using the QRegularExpression class from Qt libary. According to the Qt doumentation the regular expression feature CaretAtZero you want to use is not supported:

https://doc.qt.io/qt-5/qregularexpression.html#caret-modes

[2020-04-07 06:56] alexmucde commented on #88
I can see the qDebug() output only, when i am compiling and starting DLTViewer from QtCreator. In normal Release build qDebug should be disabled and influence not the performance.

Good hint regarding the tablemodel.cpp. It could be really possible that lastSarchIndex is not a valid Index in the search table model, which could result in a out of range Debug message. I am currently do not find the

[2020-04-08 09:39] fxkdev opened #100 "Error collect2.exe during compilation"
Hi,

I tried to build dlt-viewer 2.19.0 with Qt Creator (Qt5.12.4) and got the following error (that did not happen with dlt-viewer 2.18.0 and the same project-configuration).

![image](https://user-images.githubusercontent.com/49194924/78768458-3df3ed80-798c-11ea-8503-10438ce1ea7e.png)

Do you have any idea what it is related to? Is my project bad configured or can it be linked to a missing libra

[2020-04-08 09:50] alexmucde commented on #100
Hi @fxkdev. We currently do not support MinGW builds. Please switch to MSVC build on Windows platform.

[2020-04-21 15:54] sebastianlipponer commented on #89
I am able to connect via UDP with Multicast on network interface enabled using 457cef969 based on QT 5.14.1.

[2020-04-21 15:57] sebastianlipponer commented on #89
I am able to connect via UDP with Multicast on network interface enabled using 457cef969 based on QT 5.14.1.

[2020-04-28 02:29] thanhbnq commented on #91
Hello @alexmucde ,
After checking with a clean build again several times, I realize that I myself made a mistake while compiling dlt-viewer in Ubuntu.

From the "Configure Project" of QT Creator, there are two suggestions for me, "Desktop" and "Desktop Qt 5.x.x GCC 64 bit", then "Desktop" is my default choice for project. It must be "Qt GCC" one, this is my mistake.

Then now I verify the reported

[2020-04-28 02:29] #91 closed

[2020-05-13 06:43] Wasted90Youth opened #101 "Filters don't apply"
Hi.

My program  uses
`D:\\DLTViewer-2.19.0-WORKING-5.8-r711_x64\\dlt_viewer -f D:\\DLTViewer-2.19.0-WORKING-5.8-r711_x64\\filters\\positive_DCS.dlf -csv -c`

command which is working fine on different PCs. But one of them just creates a .csv where the filters doesn't seem to apply, which leads to bigger .csvs than .dlts

I already copied the whole DLTViewer folder from a PC where it's working to

[2020-06-02 09:22] bazurbat commented on #99
Hi! This is simply a bug, I've just made a PR (#102) which fixes the problem. Please check it out. It looks like it's doing what it is supposed to do with the caret for the logs which I have at least.

[2020-06-09 11:09] SimonPreisinger opened #103 "sorting by time changes marked files"
Select a index id: CTRL+G => 271384
Mark the index: RIGHT MOUSE BUTTON => mark
Goto Filter => sort by time

Issue
another index id is marked
Expected:
line with index id 271384 should be marked.

[2020-06-16 21:41] johumuc commented on #101
Just a guess,
did you check your config.ini  --> filtersEnabled= Settings.
Maybe you just have to start dlt-viewer GUI and set the checkbof for filters Enabled.

[2020-07-04 22:24] svlad-90 opened #107 "[Question] DLT-Message-Analyzer plugin"
Hi maintainers.

I've created this issue to mention, that there exists a huge plugin for dlt-viewer:
https://github.com/svlad-90/DLT-Message-Analyzer
It extends the dlt-viewer's functionality quite a lot.
Please, check, what it does. The repository contains an extensive readme area.

**=> If it worth it, I propose to mention about it somewhere in the dlt-viewer's repository.**

I'm currently using

[2020-07-08 09:09] alexmucde commented on #101
Yes check your config.ini file in your personal settings directory. Perhaps there is a wrong configuration. Best delete it or copy it from another PC. Can we close this issue?

[2020-07-08 09:22] Wasted90Youth commented on #101
Well it's still the same issue. But I dont need it now. Thanks for your comments

[2020-07-08 09:22] #101 closed

[2020-07-08 11:47] alexmucde commented on #66
No update, please reopen if still an issue.

[2020-07-08 11:47] #66 closed

[2020-07-08 11:48] alexmucde commented on #68
No update, please reopen if still an issue.

[2020-07-08 11:48] #68 closed

[2020-07-08 11:49] alexmucde commented on #83
No update, please reopen if still an issue.

[2020-07-08 11:49] #83 closed

[2020-07-08 11:52] alexmucde commented on #88
Any news on this topic? Any pull request?
I think if it is only a qDebug message thats not an issue.
If not an issue i will close this ticket.

[2020-07-08 11:54] alexmucde commented on #89
Looks like it is solved, please reopen if needed.

[2020-07-08 11:54] #89 closed

[2020-07-08 11:55] alexmucde commented on #99
#102 will solve this issue

[2020-07-08 11:56] alexmucde commented on #100
No official support for MinGW. please provide pull request if still needed.

[2020-07-08 11:56] #100 closed

[2020-07-12 05:09] karthikshanmugam opened #108 "File transfer plugin does not show received files"
DLT Viewer: 2.20.0
DLT Daemon: 2.18.5

I can see the logs in the viewer window, but the plugin does not recogonize the file

![image](https://user-images.githubusercontent.com/104696/87239360-e4d4a380-c42b-11ea-8e46-890c74c96bc2.png)

Best regards,
Karthik

[2020-07-15 14:12] svlad-90 opened #109 "[QDltFile] No possibility to get number of messages of each physical file"
I want to extend the DLT-viewer plugin, which I'm implementing, to allow to map message-id(s) back to the file name(s):
![image](https://user-images.githubusercontent.com/4373469/87555206-d00f3e80-c6bd-11ea-8819-27caa5c8ca3f.png)

To do that, I need a trivial extension of QDltFile API with the following method:
![image](https://user-images.githubusercontent.com/4373469/87557818-131ee100-c6c1-11ea-

[2020-07-24 13:44] #99 closed

[2020-07-24 15:29] alexmucde commented on #108
Need more information (e.g. DLT test file) to check this issue.

[2020-07-28 08:14] #109 closed

[2020-07-28 08:23] alexmucde commented on #107
I tried it, but i do not know how to use it. Can you explain in more detail what the plugin is used for and how it is used? Perhaps some simple examples will be useful.

[2020-07-28 08:37] alexmucde commented on #103
The current behaviour is that the number of the message in the Tableview is stored. If the sorting is changed, another message will be marked. See also doumentation 2.3.3 Project Other Settings 12.

To solve this issue implementation must be changed to store message index.

Please provide a pull request to improve this issue.

[2020-07-28 08:46] svlad-90 commented on #107
Hi @alexmucde, the installation guide is located here:
https://github.com/svlad-90/DLT-Message-Analyzer/blob/master/md/installation_guide/installation_guide.md
Use it to build the plugin as part of the dlt-viewer.
Then enable and show it in the dlt-viewer.

Plugin looks like this:
![image](https://user-images.githubusercontent.com/4373469/88640537-bbbc4000-d0c6-11ea-9d49-3215259bec35.png)

The gen

[2020-08-05 16:06] svlad-90 commented on #107
Hi, @alexmucde. I've recently added support of PlantUML to DLT-Message-Analyzer. So now it is possible to generate UML sequence diagrams out of the logs on the fly.

More details here:
https://github.com/svlad-90/DLT-Message-Analyzer/blob/master/md/plant_uml/plant_uml.md

[2020-08-26 11:53] SvenLuebke commented on #88
Hi Alex!

Sorry for the long delay. I tried to debug this issue a little bit, but I know only a few state variables of this application.

If you double click in search dialog, the following function is executed
https://github.com/GENIVI/dlt-viewer/blob/e546fbb3d934f1a039e7704c2b5075c3e4d398f3/src/searchdialog.cpp#L191
This sets tablemodel internal variable lastSearchIndex via
https://github.com/GE

[2020-08-27 19:34] svlad-90 opened #113 "[Bug] CMake build is not supported for MSVC"
Lines 47-50 of the below file make it not possible to have a CMake build under MSVC:
https://github.com/GENIVI/dlt-viewer/blob/b0d4db8de36ed3f5a8cbff32bcd05ddf4742589e/CMakeLists.txt#L47-L50

GCC-specific flags do not work well with the Microsoft compiler.

The proposed fix is to change the above-mentioned code to the following one:

if(NOT CMAKE_CXX_COMPILER_ID MATCHES "MSVC")
add_definitions( "-

[2020-08-28 20:30] svlad-90 commented on #113
I've prepared PR with the fix of this issue: https://github.com/GENIVI/dlt-viewer/pull/114

[2020-08-31 23:09] andreirusu96 opened #115 "Issue displaying DLT message containing other DLT messages"
Hello!

I am currently using the Filetransfer feature of Genivi DLT to transfer a buffer containing a bunch of DLT logs (complete DLT logs containing the "DLT0x01" header). As you know, the Filetransfer basically sends DLT logs to DLT Viewer with the contents of the file as DLT_RAW(rawData, dataSize). However, there is an issue inside DLT Viewer that causes the DLT Filetransfer log (the "FLDA ...

[2020-09-09 15:02] artur522y opened #116 "[Bug] no output after connection"
**Dlt_viewer info:**
Package Version : 2.20.2 testversion
Qt Version: 5.12.5
Compiler: gcc
Compiler Version: 7.5.0

**Precondition:**
remote dlt server via tcp/ip

**Error path:**
connect to the host

**Misbehavior:**
empty output table, despite connection indicator is green

**Expected behavior:**
flow of logs/traces in the output table

**Recovery path:**
disable or enable filters and press "app

[2020-09-09 21:49] svlad-90 commented on #113
@alexmucde, any updates regarding this issue?

[2020-09-11 14:23] #113 closed

[2020-09-11 14:26] alexmucde commented on #88
Hello Sven,

yes this fix sounds resonable. Please provide a PR for this.

Thanks

    Alex

[2020-09-11 14:36] alexmucde commented on #108
Not enough information to anaylse issue.

[2020-09-11 14:36] #108 closed

[2020-09-11 14:55] alexmucde commented on #116
Need more information to reproduce the problem.

[2020-09-19 07:56] FaniBhushan commented on #87
@alexmucde : This issue still exists if built on macos with cmake.
building with qmake with '-r' option builds this in release and it solves the issue.
Should I update the INSTALL.txt

[2020-09-28 07:02] hkjin81 opened #118 "View doesn't follow current cursor position."
Precondition:
Version 2.18, 2.19, 2.20, 2.20.1
Qt 5.15
Windows 10

Steps:
1. Open a dlt log file.
2. Select one line by mouse.
3. Press down arrow key by keyboard until view scroll happen.

Expected result:
View scrolled automatically to keep current line cursor visible.

Actual result:
View doesn't follow the cursor and the cursor disappeared from current view.

Etc:
This problem make me to lose

[2020-09-28 07:19] hkjin81 commented on #116
Qt 5.15.1
mingw81_64
Windows 10
tcp/ip connection

I'm using tcp/ip connection in daily work and I couldn't reproduce the problem with the latest source code(2.20.2 test version).

[2020-10-02 11:53] 4og commented on #116
I experience the same issue on Ubuntu 20.04 when connecting over TCP to a remote ECU. The output table stays empty; however, the messages are received (Recv. number in the status bar is increasing, and the search works). Qt 5.12.8, GCC 9.3.0

After doing the git bisect, it seems the issue was introduced in 53e3f541e90391676527da42dee86ff3e745eed1

[2020-10-12 10:02] m42e opened #119 "Be able to start dlt viewer in filter and conversion mode without a display"
I would like to have dlt viewer to be able to run without an xdisplay.

[2020-10-12 10:12] m42e commented on #119
could be done with
[code]

[2020-10-12 10:12] #119 closed

[2020-10-22 02:03] hkjin81 commented on #116
Same issue occured in Ubuntu 20.04 over TCP connection.(Qt 5.15.1, GCC 9.3.0)
After apply configuration, it starts to display as above comment but if I clear the log it doesn't display again.

[2020-10-22 06:46] alexmucde commented on #116
Thanks for the feedback, we will have a look.

[2020-10-30 06:05] phl256 opened #122 "[Bug] DLT Viewer crashes if filter is changed while index is created"
DLT Viewer Version : 2.20.2

- Load a large DLT file
-> Index is created (status bar shows CI with percent)
- Change the current filter while CI is still shown
-> DLT Viewer crashes

This is reproducible on Windows.

[2020-11-05 07:44] ChronoTempus opened #124 "Enabling "Sorted by Time" or "Sorted by Timestamp" sorts logs in wrong order"
![image](https://user-images.githubusercontent.com/58554773/98210624-82a72d80-1f49-11eb-892c-7c0b70fc6513.png)
I have this issue that whenever I apply a filter and for any group of rows there is same Time then rows will be sorted in descending order (in image can be seen that Index and Count are also in descending order).
Even if I try to sort by timestamp (which is not always possible if I have m

[2020-11-06 10:59] OXINARF commented on #124
I was coming to report something very similar, but I don't have the issue when applying only filters, but only when "Sort by time" or "Sort by timestamp" is also enabled. @ChronoTempus can you confirm if that's your case too?

The problem that triggers my issue is with how Qt manages the QMultiMap entries with the same key: when you insert an entry, if there is an existing one with the same key, t

[2020-11-06 11:04] ChronoTempus commented on #124
Can confirm if both checkboxes are disabled log is sorted correctly.

[2020-11-06 12:24] OXINARF commented on #124
Ok, so it's the same issue. @ChronoTempus maybe change the title to something like "Sorting by time/timestamp is in the wrong order"?

[2020-11-09 08:44] alexmucde commented on #116
This should be fixed now. Return value was wrongly changed in 53e3f54.

[2020-11-09 08:44] #116 closed

[2020-11-10 07:52] BK103hk opened #125 "FileTransfer plugin doesn't work"
After running testfile dlt-test-filetransfer as example, I can see the file data already print on dlt-viewer. But, FileTransfer plugin list is empty. How could I get the file from FileTransfer plugin?
![1](https://user-images.githubusercontent.com/74233740/98645074-630a6d80-236c-11eb-99d2-ff8099d6fe87.png)

[2020-11-12 02:31] BK103hk commented on #125
I have solved this issue according to the similar issue(https://github.com/GENIVI/dlt-daemon/issues/224). The document doesn't tell us We should load the config while using this plugin,
And I find the default config given by dlt-viewer-master\plugin\examples\filetransferplugin_configuration.xml is not match the dlt-test-filetransfer which default apid and ctid both are FLTR.

[2020-11-12 02:31] #125 closed

[2020-11-12 07:59] m42e opened #126 "Allow subdirectories in default filter folder"
Allow subdirectories in default filter folder to organize filters.

[2020-11-12 08:00] m42e opened #127 "Allow search in default filter folder"
Add search for a filter in the default filter folder select list.

[2020-11-12 08:00] m42e opened #128 "Allow Append from the default filter folder"
Appending of a filter from the default filter folder would be useful.

[2020-11-12 08:36] m42e opened #129 "Regex-Replace filter"
Allow creation of a regex based filter which replaces parts of the payload.

[2020-11-13 14:19] alexmucde commented on #115
Can you provide a DLT File which contains a DLT message header in the payload?
Can you describe the use case when the problem occurs?

[2020-11-13 14:27] alexmucde commented on #118
Will this issue be fixed with #120

[2020-11-13 16:01] alexmucde commented on #124
Do you have any idea how to solve this issue? It would be even better if you can provide a pull request?

[2020-11-13 16:08] alexmucde commented on #126
As i understand you correctly, you want to search for default filters also in Subdirectories. If you can provide a pull request for this feature would be great.

[2020-11-13 16:10] alexmucde commented on #127
A pull request also for this feature would be great.

[2020-11-13 16:11] alexmucde commented on #128
A pull request also for this feature would be great.

[2020-11-13 16:11] m42e commented on #126
Ok, I will have a look if I can do so.

[2020-11-13 16:12] alexmucde commented on #129
You reference to #130?

[2020-11-13 16:18] m42e commented on #129
Yes we discussed that feature :)

[2020-11-19 12:26] alexmucde commented on #118
This issue only happens, when column "index" is disabled.

[2020-11-19 14:13] 4og opened #138 "Search results table shows white text on white background when Auto mark is enabled"
When the "Auto mark fatal/error messages" option is enabled in the settings, the Search Results table shows found error messages as white text on white background. This makes them unreadable.

**Expected:**
The background color of Auto-marked messages is preserved in the Search Results table.

Tested version: a0be13f30a243a1fcc926a92ebccb155c529edd9
Ubuntu 20.04, Qt 5.12.8, GCC 9.3.0

[2020-11-19 16:40] alexmucde opened #139 "Selected line is not selected anymore, when filters are disabled"
Steps to reproduce the issue:
- Disable column "Index" in table view in settings
- activate a filter
- select a line
- deactivate filter and apply configuration

Result:
- line is not selected anymore

When the column "index" is enabled, this issue not happens.

[2020-11-19 17:16] #126 closed

[2020-11-19 17:44] alexmucde commented on #124
PR integrated.

[2020-11-19 17:44] #124 closed

[2020-11-19 18:42] #118 closed

[2020-11-19 18:45] alexmucde commented on #129
#130 integrated

[2020-11-19 18:45] #129 closed

[2020-11-19 18:47] alexmucde commented on #127
#135 integrated

[2020-11-19 18:47] #127 closed

[2020-11-20 09:39] #128 closed

[2020-11-23 05:50] hannesa2 opened #141 "macOS icon missing"
Hi, first of all: Thank you to make it public !

I build it with macOS and it builds and runs, but the icon is not available

<img width="294" alt="image" src="https://user-images.githubusercontent.com/3314607/99932319-ef973180-2d57-11eb-8891-8b15598188f6.png">

Sorry, I've too less knowledge with `qt` to fix it

[2020-11-23 06:36] hannesa2 opened #142 "macOS Apple silicon M1 cpu build error"
During build on macOS M1 cpu I observe this, and I've no clue to solve this with `qt`
[code]
Maybe someone knows how to solve it ?

[2020-11-23 14:11] hannesa2 opened #144 "SomeIP plugin"
Is there somewhere the SomeIP plugin repo ?
From where can I grab it ?

[2020-11-23 14:55] #144 closed

[2020-11-29 23:09] svlad-90 commented on #107
@alexmucde, a kind reminder. Did you get a chance to test the plugin?

[2020-11-30 09:57] #107 closed

[2020-11-30 09:59] alexmucde commented on #107
Yes i tried shortly your plugin, but i did not know the exact purpose. I added a refernece in the documentation.

[2020-11-30 10:35] svlad-90 commented on #107
Hi @alexmucde,

_I added a refernece in the documentation._

Thank you very much for fulfilling my request! That motivates me to continue the support of the DLT-Message-Analyzer!

----

_Yes i tried shortly your plugin, but i did not know the exact purpose._

Hopefully, after my additional feedback in previous messages, the purpose of the plugin is clear for you. In case if still not - the page of

[2020-12-01 13:45] alexmucde commented on #138
Reproduced this issue also in Windows. A pull request with a bug fix would be great.

[2020-12-01 14:04] alexmucde commented on #141
Hi, i am not familiar with macOS. I have found the following instruction:

https://doc.qt.io/archives/qt-5.11/appicon.html

If you use qmake you need to do the following:

At first you need an icns file, which should be already in \src\icon .
Then you have to add to the src/src.pro file.
ICON = icon/icon.icns

If you are using cmake it will be more complicate, please see the instructions.

Please

[2020-12-01 14:08] alexmucde commented on #142
Sorry, i am not familiar with MacOS. Because someone working with MacOS can help.
I am wondering why you want to compile dlt-parser. This is an extra tool, which you do not need for DLT Viewer.

[2020-12-01 21:26] hannesa2 commented on #142
I simply used the travis script `.ci/travis/build.sh`

[2020-12-01 21:32] hannesa2 commented on #141
To give anyone the chance to follow, I made a non-working pull request https://github.com/GENIVI/dlt-viewer/pull/149

[2020-12-02 11:31] sarndt commented on #46
Thanks for this, this actually helped me, I ran into the same issue.
It wasn't necessary for me to clone the project anew or anything, but I needed to delete the `CMakeCache.txt` that was probably there created during one of my previous attempts to compile.

[2020-12-03 10:02] andreirusu96 commented on #115
Hello, @alexmucde!

The use case is as follows: we use the Filetransfer feature of DLT to transfer a DLT file containing DLT logs. As you may already know Filetransfer splits the file in smaller chunks, so most of the time, inside a Filetransfer chunk, one of the transferred logs inside the file will get cut. This will cause problems, since the current DLT logs parsing algorithm does not take in c

[2020-12-04 12:33] MarwanDawood opened #154 "Question regarding FIBEX metadata xml file"
I am trying to create a FIBEX metadata xml file that will be used to read non-verbose DLT messages.
Referring to AUTOSAR_PRS_DiagnosticLogAndTraceProtocol.pdf, I was able to link the frame with the its PDU and signals,
but still the relevant non-static data is not shown into the DLT viewer tool, only the description below is shown.
Is there some missing configuration that should be added? (please

[2020-12-07 13:54] alexmucde opened #155 "Connect problems serial port"
When you try to connect to a serial port, the first connect does not work. You have always to trigger a connect discconnect and connect again, so that it works.

[2020-12-07 16:07] alexmucde opened #157 "White forground in tabelmodel when msg double clicked in search window"
When a msg is double clicked in the search window, the corresponding msg in the table model is highlighted. When the focus is removed from the msg by clicking another msg, the forground color will get white, which makes the message unreadable, when the background is also white.

[2020-12-08 09:59] #155 closed

[2020-12-08 12:26] alexmucde opened #159 "Search table shows empty grid when find all disabled"
When you search for a keyword and the "find all" option is activated all search results will be shown in the search table. When the "find all" option is disabled and you search for the keyword forward or backward, the search table gets empty, but the grid of the table still stays visible.

[2020-12-09 11:48] #138 closed

[2020-12-09 11:48] #157 closed

[2020-12-11 07:13] alexmucde commented on #88
I have reworked the color handling of the table model. Perhaps the issue is not there anymore.
But to be sure i will add seeting the lastSearchIndex to -1 into the modelChanged routine.

[2020-12-11 07:27] alexmucde opened #161 "Search for Reviewers"
Hello,

who would like to help as reviewer in the DLT Viewer project?

Best regards

    Alex

[2020-12-11 08:09] alexmucde commented on #154
Please check the DLT Parser tool https://github.com/GENIVI/dlt-viewer/tree/master/parser,
which is part of the DLT Viewer source code. You can create XML Files for testing.
There are also some examples.

[2020-12-17 10:22] #88 closed

[2020-12-17 10:25] alexmucde commented on #141
@hannesa2 so this is not fixed yet?

[2020-12-17 10:47] alexmucde commented on #142
@hannesa2 You find a solution to solve this issue? Can we close?

[2020-12-17 11:08] hannesa2 commented on #142
I'm able to build, but this particular issue is still open

[2020-12-17 14:40] #141 closed

[2020-12-18 07:07] alexmucde commented on #115
Sorry for being late. I had a deeper look into your patch.

There are three places where parsing DLT messages is done:
- qdltfile
- dltfileindexer.cpp
- qdltconnection.cpp

When loading DLT Files the first time dltfileindexer.cpp is used, that is what already was fixed.
Qdltconnection.cpp here we could have an additonal issue, but this only used for parsing serial headers, which are only used for

[2020-12-18 07:16] #115 closed

[2020-12-18 09:56] alexmucde commented on #103
No progress on this issue. Please reopen if a solution will be available.

[2020-12-18 09:56] #103 closed

[2020-12-18 10:00] alexmucde opened #164 "Need some help to wetup Github Actions for CI builds"
I need some help to create Github Actions for automatic builds as we do already with Appveyor and Travis. Hopefully Github Actions work smoother that the other ones. Three actions needed for:

- Ubuntu 20.04 LTS
- Windows MSVC 2015 or 2017
- MacOS

Please provide a pull request if possible.

[2020-12-18 10:32] alexmucde commented on #122
I was not able to reproduce the issue in Windows. I loaded a very huge (1gb) DLT File. During indexing i changed the filter, added new filters and removed existing filters, but no crash happened. I checked the source code and the filters are copied during the beginning of the indexing. Perhaps there is another side effect of another action.

[2020-12-18 10:33] #159 closed

[2020-12-18 10:33] #139 closed

[2020-12-18 11:12] alexmucde commented on #122
Not reproducible.

[2020-12-18 11:12] #122 closed

[2020-12-23 10:38] svlad-90 commented on #164
Hi @alexmucde, unfortunately, currently I do not have the capacity to overtake this task, but I think I have an important input, which might make its implementation much easier.

My plugin already has CI builds, which are based on Github Actions:
https://github.com/svlad-90/DLT-Message-Analyzer/tree/master/.github/workflows

And the idea of my CI build is to fetch dlt-viewer, inject the plugin's r

[2021-01-09 14:27] Elastino commented on #142
Leaving a note here for the future reference.

The build script in `.ci/travis/build.sh`  assumes that Qt will live unde `/usr/local/opt/lib` which isn't the default location with the latest Brew installation.

We can change the script to point out new Brew's folder such as `/opt/homebrew/....`
However, still, it won't allow us to execute App Package due to new policy from Apple on unsigned(develo

[2021-01-10 07:24] hannesa2 commented on #142
There is currently no point to change here anything. As long as Github actions use no M1, there is no need to move to arm64 brew usage on CI.
Additionally QT is currently not ready for arm64 https://bugreports.qt.io/browse/QTBUG-85279

For the other thing: I vote for option **3**, but it's out of my control.
For option **2**: can you make a pull request please ? @Elastino

[2021-01-11 15:25] Elastino commented on #142
I'm sorry but I decided not to make a pull request for it because that script ``.ci/travis/build.sh`` is intended to be used with CI server, and I assume the artifact of this script isn't available for the official release from the first place.

Also, at the moment, I don't have much information how ``homebrew`` is planning to migrate from ``/usr/local/bin`` to ``/opt/homebrew/bin``, I can't simpl

[2021-01-14 14:26] SimonPreisinger opened #167 "Improve search speed."
Currently the search is slow with use of a lot of traces and could be improved.
My suggestion is to improve the search speed by using several threads instead of one.
Should be possible with [Qt Concurrent](https://doc.qt.io/qt-5/qtconcurrent-module.html)
I know there are plugins but they are complicated to install.

Later this can be done for applying a filter also.

[2021-01-20 15:46] alexmucde commented on #167
We already made some multithreading tests in the past with, but we were not very succesful. I think the bottleneck is the file access to HDD/SSD. But perhaps someone can give it a try again.

[2021-01-20 15:46] alexmucde commented on #154
@MarwanDawood Is your problem solved already?

[2021-01-22 07:54] #142 closed

[2021-01-22 07:54] #164 closed

[2021-01-22 08:23] hannesa2 opened #172 "Download-able artifacts in Release"
When you tell me what the artifacts for each/some platform/s I can make you an action on Github which provides it here https://github.com/GENIVI/dlt-viewer/releases

At least for macOS it's not a single file (and signing is an issue)

Here is an example https://github.com/ytai/ioio/releases/tag/6.1.0

[2021-01-22 08:47] lukx commented on #172
I don't know whether this answers (part of) your question but:
"DLT SDK" is the dlt-viewer binary package for windows, 64 bit
"DLT Parser" is the dlt-parser binary package for windows, 64 bit

[2021-01-22 09:36] hannesa2 commented on #172
When  you go to pull request job detail (not release) eg https://github.com/GENIVI/dlt-viewer/runs/1747384132
you have the snapshots already there

<img width="1098" alt="image" src="https://user-images.githubusercontent.com/3314607/105473270-36909d00-5c9d-11eb-8423-576e2d274d37.png">

I can only test macOS, and there I've problems
<img width="585" alt="image" src="https://user-images.githubuserco

[2021-01-22 09:43] alexmucde commented on #172
Can we also use Github Actions to build on master the latest commit, as Appveyor and Travis did? I am currently downloading the Artifact, download is quiet slow.

[2021-01-22 09:44] lukx commented on #172
@hannesa2 downloaded dlt-sdk from the run you linked, it starts normally (but I have no log available to actually test the programm)

[2021-01-22 09:48] alexmucde commented on #172
Yes it works, also with log file.

![image](https://user-images.githubusercontent.com/22935478/105475151-5b860f80-5c9f-11eb-8002-de45b0a38145.png)

[2021-01-22 10:57] hannesa2 commented on #172
Here you go #176

[2021-01-22 11:37] alexmucde commented on #172
Appveyor still builds, perhaps i have to delete the two remaining Webhooks in the project settings?

![image](https://user-images.githubusercontent.com/22935478/105486341-9cd1eb80-5cae-11eb-8c5f-eec61c215729.png)

[2021-01-22 12:05] alexmucde commented on #172
Deleted some old Appveyor jobs in my Appveyor account, should not build anymore.

[2021-01-22 17:31] OXINARF opened #177 "No log displayed after clicking Clear log"
I regularly hit this use-case:
- I'm connected to an ECU (via TCP, in case it matters)
- I reboot the ECU
- While it is rebooting, I clear the temporary log (and create a new one) by clicking the Clear log button on the toolbar
- When the ECU boots it starts sending the log (as I can see the version and received packets increasing), but there is no message displayed
- The way to recover is making

[2021-01-23 21:39] SimonPreisinger commented on #167
I want to try it pls give me access to create a pull request

[2021-01-26 10:03] alexmucde commented on #167
@SimonPreisinger You can create a clone in your own Github Account, create the change there and then request a Pull Request. You do not need Write access to the DLT Viewer repository to create branches.

[2021-01-26 10:09] alexmucde commented on #177
Which version of DLT Viewer are you using? Can you try lattest version on github?

[2021-01-26 10:12] alexmucde commented on #172
Are we finished with this issue?

[2021-01-26 10:13] alexmucde commented on #154
Please reopen or create new ticket if you are not satisfied yet.

[2021-01-26 10:13] #154 closed

[2021-01-26 10:14] alexmucde commented on #161
I need reviewers especially for commits from me ;-: Please Help!

[2021-01-26 10:18] hannesa2 commented on #172
You mean the "Download-able artifacts in Release" ?
No, I've no feedback from Linux and macOS doesn't work

But I could do it in the meantime for Windows only

[2021-02-03 09:55] OXINARF commented on #177
Hi Alex,

I should have written that, it would clarify it to me too 😄

I opened this issue after I installed the latest 2.21.1 because I thought I tested it and the problem was still there. However, after many tries, it is working fine - so now I think I still had the 2.20.2 version opened and I mistakenly tested there instead of the latest version.

Sorry for the disturbance 🙂

[2021-02-03 09:55] #177 closed

[2021-02-08 00:15] AlessandroBono opened #178 "Publish DLT-Viewer on Flathub"
### What is Flathub?
Flathub aims to be the place to get and distribute apps for Linux. It is powered by Flatpak which allows Flathub apps to run on almost any Linux distribution (see [1]).

### What is Flatpak?
Flatpak is a next-generation technology for building and distributing desktop application on Linux (see [2]).

### Benefits of Flatpak/Flathub
This is a very broad topic. I'll try to summa

[2021-02-10 16:32] 4og opened #179 "Mark/Unmark lines function doesn't work on log messages highlighted by a filter"
**Steps to reproduce**
1. Add a filter with a marker color.
2. Select any message highlighted by the filter.
3. Choose "Mark/Unmark line(s)" in the pop up menu appeared by the right click.
4. Observe that nothing happens.

**Expectation**

The "Mark/Unmark line(s)" overrides the color from the filter.

Used DLT Viewer version: 86f21387204783fd57ba115528f440314c8fd4bf

[2021-02-18 12:56] hannesa2 commented on #172
### Linux
I checked on a Linux machine and generated Linux artifact starts. But you have to gave it `+x` permission in advance.
Maybe I will make a pull request with this last step.

### Release with artifacts

As long as we build release at least on 3 different os, I run into the issue that I've to collect from 3 machine the artifacts, but currently I don't now how to do that.
Collection in a pul

[2021-03-03 12:46] hannesa2 commented on #172
I close this, because there is a pull request #184

[2021-03-03 12:46] #172 closed

[2021-03-03 12:48] hannesa2 commented on #178
You know what to do, what's about a pull request ?
I guess the maintainer is happy to approve any pull request.

[2021-03-03 13:39] alexmucde commented on #178
Hello @AlessandroBono . Yes please do the next steps which are needed to bring DLT Viewer to flathub. Should we do something or will you proivde a pull request?

[2021-03-03 13:43] alexmucde commented on #179
@4og I repoduced the issue. Looks like the priority of marking logs is wrong. Manual marking should have a higher priority.
Are you able to provide a pull request to fix this?

[2021-03-03 13:46] hannesa2 opened #185 "Remove appveyor"
It's only annoying

<img width="450" alt="image" src="https://user-images.githubusercontent.com/3314607/109814884-4e115d00-7c2f-11eb-86e6-308f9902b2da.png">

[2021-03-03 14:02] alexmucde commented on #185
@gunnarx Can you remove the AppVeyor build for DLT Viewer? We are using now Actions.

[2021-03-04 15:39] alexmucde commented on #185
This was fixed by Gunnar.

[2021-03-04 15:39] #185 closed

[2021-03-15 20:52] svlad-90 commented on #167
Hi @SimonPreisinger, you can avoid inventing a bicycle - try out the DLT-Message-Analyzer plugin: https://github.com/svlad-90/DLT-Message-Analyzer. It covers your need as it creates the in-RAM-cache of all the messages within the file ( or the ones which are coming in from the opened connection to a target device ) and searches within the cache. The size of the cache is adjustable. The search is m

[2021-03-19 14:18] AlessandroBono commented on #178
DLT Viewer is now on Flathub. You can install it on any [Flatpak/Flathub configured systems](https://flatpak.org/setup/) via GUI application such as GNOME Software or by executing the following command:
[code]
@alexmucde did you receive a collaboration invite for https://github.com/flathub/org.genivi.DLTViewer?

[2021-03-19 14:18] #178 closed

[2021-03-26 09:24] AlessandroBono opened #191 "Missing release 2.21.2"
Yesterday I saw version 2.21.2 released and [I promptly made a Flathub release](https://github.com/flathub/org.genivi.DLTViewer/commit/0a8d55d4e8a650a2a65f7c4cc045453bb62fc8dc). Now I see that the release is no more present and the URL gives error 404. What happened?

[2021-03-26 09:30] alexmucde commented on #191
Sorry for the confusion. The Release Tag is back. I wanted to try something with the CI build system, but it was not working.

[2021-03-26 22:30] AlessandroBono commented on #191
Ok, thank you!

[2021-03-26 22:30] #191 closed

[2021-03-31 08:20] alexmucde commented on #161
Did not found any new reviewers.

[2021-03-31 08:20] #161 closed

[2021-03-31 08:25] alexmucde commented on #167
Any progress on this topic?

[2021-03-31 08:53] alexmucde commented on #179
Provided Pull Request. Marks have now the highest priority.

[2021-03-31 09:39] #179 closed

[2021-03-31 12:07] serkazi opened #196 "../../qdlt/qdltfilter.h:34:10: fatal error: QRegularExpression: No such file or directory"
I followed the steps in `INSTALL.md` for my Ubuntu 18.04 box. However, after the `qmake` step, the `make` produces the error in the subject. Did I do something wrong? All the listed dependencies are installed.

[2021-03-31 12:39] alexmucde commented on #196
@serkazi Are you sure, that you have installed the right Qt5 Headers? The class was introduced with Qt5, Qt4 will not work.

[2021-03-31 13:19] serkazi commented on #196
Somehow, the `qmake` step that is mentioned in `INSTALL.md` happens to erroneously capture the Qt4 (that is installed alongside Q5 on my system). Long story short, I then noticed that there is a `CMakeLists.txt` and I used the standard `cmake .. && make` procedure. Now it works. Thanks!

[2021-04-07 13:16] GirijaG opened #197 "DLT-Viewer: How to apply parser to decode messages (Non Verbose Mode Plugin)"
@Alexander Wenzel @philrob17  @jeremiah @jeremiah @tobsan @jjardon @jdehaan @neverpanic
Team,

I need to do below actions in command line
<img width="960" alt="convert_DLT_CSVorTXT_Apply_parser" src="https://user-images.githubusercontent.com/6948213/113871406-7fea8600-97d0-11eb-8684-af2033bd2bf6.png">

To do so, I used below command at command prompt (Windows 10).
dlt_viewer.exe DLT_18_2_20.dlt -e

[2021-04-12 12:05] alexmucde commented on #197
@GirijaG You cannot use the -e option to provide configuration files to plugins.
You have to load and activate a plugin in the DLT Viewer and store the configuration into a project file.
Then you can load the project by command line with the -p option.

Does this solve the issue?

[2021-04-12 12:59] GirijaG commented on #197
Yes, thank you,

dlt-viewer.exe -p dlt-parser.dlp -s -u -c DLT_0_19_73_3.dlt dlt.txt

the above command i m using to convert and it is working.

[2021-04-12 12:59] #197 closed

[2021-04-19 14:39] alexmucde opened #199 "UDP connection very slow"
The UDP connection seems to be very slow.

Possible issues:
- check if all messages are read at once or only one per signal
- use Qt UDP classes

[2021-04-23 12:21] alexmucde opened #200 "Export search results into DLT file"
Export all found DLT messages of a search result into a DLT file

[2021-04-23 12:23] alexmucde opened #201 "Crash when connection is stopped in DLTRelais/DLTMultimeter/DLTPower"
DLT Viewer stops working, when in these application the communication is stopped by pressing stop button.

[2021-04-23 12:35] alexmucde opened #202 "Use of a search engine library to improve speed"
A search engline library should be used to improve search speed and filtering in the DLT Viewer.

One possible library is Lucene++, where already a prototype exists.

Further investigations needed like this could be integrated best like in a Plugin or in the core.

[2021-04-23 12:38] alexmucde opened #203 "Build AppId/CtxId for all received DLt messages, not only Register messages"

[2021-04-27 07:12] gobater opened #205 "[Windows] High DPI Displays and scale factor != 100%"
In the last releases Qt has been introducing support for high DPI Displays (https://doc.qt.io/qt-5/highdpi.html). According to the documentation, High DPI support is enabled from Qt 5.6 onward

In a Windows PC, in high DPI displays when using scaling, DLT-viewer looks weird. The Qt Widgets seem to be scaled twice: once by the system, and another by Qt.
The screenshot below compares DLT-Viewer 2.16

[2021-05-04 09:23] alexmucde commented on #201
Thi issue occurs when several connections are configured and also serial connections are available.

Issue found and fixed.

[2021-05-04 09:43] #201 closed

[2021-05-06 19:56] alexmucde opened #208 "Stopping remotely one TCP connection will also stop all serial connections"

[2021-05-11 07:58] #208 closed

[2021-06-07 10:18] windshining opened #212 "[Serial console] support baud rate 460800"
there is a use case that our serial console is with baud rate 460800, which is currently not supported by DLT-viewer.

[2021-06-07 14:51] alexmucde commented on #212
I have created a pull request. Please try it out if it works, when the build of the PR is inished.

https://github.com/GENIVI/dlt-viewer/pull/213

[2021-07-19 08:36] alexmucde commented on #212
@windshining Are you able to test it?

[2021-07-19 12:20] #212 closed

[2021-07-21 10:44] SvenLuebke opened #217 "Feature to filter messages by/between some index"
Dear dlt-viewer developers!

Is it somehow possible to filter messages by index? First I thought, it's the filter option "Message Id" but that is something different. Of course I can cut & export the file, but that would be an additional manual step.

Background: I have a Dlt log which captured two lifecycles of a Dlt device and within this file a reboot happened. I'd like to view (and sort timest

[2021-07-22 07:37] alexmucde commented on #217
@SvenLuebke Interesting feature, you think it should be a simple filter, where you can select first and last message or it is more like a negativ filter, where you do not want see the messages before the first selected and after the last.

[2021-07-23 10:47] SvenLuebke commented on #217
@alexmucde A simple filter would be enough, if other filters can process the output of that message index filter and don't process the original Dlt file. I guess it's currently not working like that, right?

For me it would be important, that the setting for the index range is at one point only, so I don't have to adapt the this range for 10 filters.

If that feature won't be assigned to a filter,

[2021-07-28 21:14] rafaelpirolla opened #218 "QT5 build on MacOS"
Just as documentation:

cmake .. -DCMAKE_PREFIX_PATH=/usr/local/Cellar/qt@5/5. whatever version brew install qt@5 is nowadays.

[2021-07-29 07:06] rafaelpirolla commented on #218
I'm unable to run it with any plugins though as the application just crashes on start. Saw that someone had a patch in the mailing list in the past but it's not there anymore.

[2021-08-03 20:10] chrsch commented on #218
On Mac just checkout and do

- brew install qt@5
- mkdir build && cd build
- /usr/local/opt/qt@5/bin/qmake ../BuildDltViewer.pro
- make

You'll find the binary in build/release

[2021-08-13 13:03] Bengineer2048 opened #220 "Serial connection disconnects/reconnects when log file is rotated."
When specifying a Maximum file size in settings and logging VuC through a serial connections the connection briefly dropped when the log file is rotated.

[2021-08-16 06:50] alexmucde commented on #218
@rafaelpirolla Is this issue solved or still open? Sorry i cannot help, I am not familiar with MacOS build.

[2021-08-16 07:10] alexmucde commented on #220
@Bengineer2048 I have checked the source code and it looks like the old file is copied first and then a new file is created. Normally this should have no influence on your serial connection. In a TCP connection a timeout can be configured, but not for serial connections. So even a slow PC should have no influence, even copying a file is not really a good implementation.

Please provide more inform

[2021-08-19 17:54] Bengineer2048 commented on #220
@alexmucde Thank you so much for reviewing my request and reaching out!
I know more about the issue now and can provide more detail.
For my application I am logging for TCP and serial connections, however, I tested this with just a serial connection and observed the same issue when the file is split after the size limit is reached.

I found in the code where this is happening, but I'm sure if it's

[2021-08-20 12:19] alexmucde commented on #220
@Bengineer2048 Thanks for the deeper analyses. I cannot remember why the call saveAndDisconnectCurrentlyConnectedSerialECUs(); was introduced. It makes also no sense to me. It is even worse, as we will loose the buffered data. Perhaps there were some issues/crashes in the past, but this should not be solved in this way.

Can you try to remove the following calls:

saveAndDisconnectCurrentlyConnect

[2021-08-22 13:38] Elastino commented on #218
I believe OP uses Apple M1 silicon, and is trying to use CMAKE to build DLT-Viewer.
Building DLT-Viewer with CMake, used be working fine which results DLT-Viewer.App via Ninja package.
Somehow, CMake is broken on Ninja build where failing to link valid Qt5 libs.
Please use QMake approach described above.
This is out of scope for DLT project for supporting Cmake on Apple M1. (Although I work on App

[2021-08-23 11:51] Bengineer2048 commented on #220
@alexmucde I did as you suggested and removed those two calls. I changed the filters several times during logging to reload the DLT file and everything worked as expected. I did not notice any issues related to removing those calls. Note: I only tested on Linux.

[2021-09-02 20:15] johnFA90 opened #221 "C# Usage - Help wanted"
Hello, is there any way to use the dlls in a C# client? My scope is to create a C# application that connects to a device, listen for data then the parse the data and use it for further analyzing.
Thank you for any hints in this direction,
J.

[2021-09-13 15:15] endzone opened #222 "Support for opening / drag and drop of (multiple) ZIP DLT files"
In our project DLT traces files are being stored in compressed standard ZIP file format , due to high compression ratio that can be achieved on regular DLT files. Traces are being stored on network drives with read-only access to standard developer.

Currently / AS IS:  In case a sequence of multiple ZIP DLTs shall be loaded into DLT viewer, the files need to be copied from network read-only drive

[2021-10-06 13:37] #221 closed

[2021-10-26 15:45] marc-heinlein opened #224 "Search Table: Only the first selected line is copied to clipboard"
**Precondition:**
- dlt-viewer 2.21.2, have some .dlt-file loaded
- perform a search (via search bar or search dialog)

**Action:**
- select some lines in the resulting search table (as a block, or some single lines)
- copy selected lines to clipboard (Ctrl-C or context menu "Copy Selection (Payload) to Clipboard")

**Expected behavior:**
- All selected lines are copied

**Actual behavior:**
- Onl

[2021-11-23 12:39] alexmucde commented on #167
As there is no progress i will close this issue. New issue exists to use a search database engine for faster search in milliseconds. See  #202

[2021-11-23 12:59] alexmucde commented on #217
It should be perhaps not only a filter, it should be more a general setting to improve the search operation, Only messages inside the range should be processed. In addition it should be also possible to select a time range. Title of issue updated.

[2021-11-23 13:02] alexmucde commented on #218
Look like issue solved, reopen if not.

[2021-11-23 13:40] alexmucde commented on #222
Opening DLT files must be done on a local storage. This is because the DLT Viewer does not load a DLT file into memory, it reads the DLT messages directly from the storage.
But it should be possible that the users opens a zip file on a network storage and the DLT files are unzipped to a temporary directory on the local storage.

Qt does not provide any feature to unzip a file.

Possible solutions

[2021-11-23 13:51] alexmucde commented on #224
Tried to reproduce this isse in DLT Viewer Version 2.21.3 in Windows, but issue is not reproducible, Selecting several lines and copying to Clipboard works.

@marc-heinlein Which OS are you using? Can you reproduce the issue with 2.21.3?

[2021-11-23 13:53] #220 closed

[2021-11-24 09:24] marc-heinlein commented on #224
Hello @alexmucde, here is the OS specification:
[code]

DLT Viewer 2.21.2 was built with Qt 5.15.0 using gcc-8.1.0

We will check with latest DLT Viewer from master.

[2021-11-26 10:42] mbehr1 opened #232 "win: recorded traces have non monotonic timestamps"
DLT traces recorded with dlt-viewer under windows have non monotonic - going backwards - timestamps.

See here the problematic code snippet:

https://github.com/COVESA/dlt-viewer/blob/eaf1571483c59c0448fcd4bf99da5f6b7c075e9a/src/mainwindow.cpp#L3585

and a small test app:
[code]

example output is:
[code]

[2021-11-26 11:42] mbehr1 commented on #232
a fix should/could be to use timespec_get(...) which seems to be available under win (since VS 2015) as well and provides tv_sec and tv_nsec.

[2021-11-26 11:42] mbehr1 commented on #232
@alexmucde @gernotmuc  fyi.

[2021-12-14 09:56] marc-heinlein commented on #224
The bug was caused by an errorneous dll. Issue can be closed

[2021-12-14 09:56] #224 closed

[2021-12-16 12:12] SvenLuebke opened #234 "Copy selected messages formatted as Jira table to clipboard?"
Dear dlt-viewer developers!

Is a clipboard export of selected Dlt messages formatted as Jira table (in context menu) too specialized? I could provide a PR for that if somebody is interested...

BR,
Sven

[2021-12-17 10:54] alexmucde commented on #234
Hi Sven,

yes this feature looks interesting, this is a common use case. please provide a PR.

    Alex

[2022-01-22 16:12] mbehr1 opened #242 "bool args are persisted without DLT_TYLE_8BIT"
Bool args are persisted with a TYLE of 0 which is not fulfilling
dlt autosar spec: [Dlt139] ⌈Type Length (TYLE) shall be 1. ⌋

This causes e.g. the Wireshark DLT dissector to fail on parsing the payload.

Wrong code is here:
https://github.com/COVESA/dlt-viewer/blob/03baa67d3bb059458cb5b8e0ed940ea6f607f575/qdlt/qdltargument.cpp#L312

I guess a | DLT_TYLE_8BIT would be sufficient to fix.

Shall I s

[2022-01-22 16:16] mbehr1 commented on #242
@alexmucde @gernotmuc fyi.

[2022-01-24 10:10] alexmucde commented on #242
@mbehr1

Yes that's right. I would change the following line 333:

if((typeInfo == DltTypeInfoSInt) || (typeInfo == DltTypeInfoUInt) || (typeInfo == DltTypeInfoFloa) **|| (typeInfo == DltTypeInfoBool)**) {

If data size is 1, this would add dltType |= DLT_TYLE_8BIT;

Yes you can provide a PR.

[2022-01-24 10:29] xRowe opened #243 "Only one line can be copied when multiple lines are selected"
Dear Developers

I got an issue while using the latest release 2.13.3. Windows build
Could you please check if it is an issue or not?

[Steps]
1. Select multiple lines message in the main window.
2. Right Click, and select "Copy Selection to Clipboard" or "Copy Selection Payload to Clipboard"
3. Try to paste the content in Notepad++

[Result]
Only the first selection line can be copied and pasted.

[2022-01-26 11:55] alexmucde commented on #243
@xRowe I cannot reproduce this issue in Windows. Perhaps it depends on OS or Qt version.

There was a similar issue #224 , where a wrong dll was used.

Please check again.

[2022-01-26 12:50] mbehr1 commented on #242
fixed wit #247

[2022-01-26 12:50] #242 closed

[2022-02-01 13:51] xRowe commented on #243
Hello @alexmucde

Sorry, late reply, I do not usually focus on github.
Thanks for your quick reply.

Yes, I searched issue and found #224, ever I suspect it is a similar issue.
#224 is an issue that could not copy multiple lines in the **Search Window** via  (Ctrl-C or context menu "Copy Selection (Payload) to Clipboard"), but mine is working correctly.

Meanwhile, in the **Main Window**, select m

[2022-02-01 14:09] alexmucde commented on #224
@marc-heinlein Do you still know which dll was causing the issue? We have now another issue, which sounds similar #243

[2022-02-01 17:14] alexmucde commented on #243
It looks like it has to do with a specific combination of Qt version and MSVC version.
With Qt 5.12.12 and MSVC2017 i got this issue.
WIth Qt 5.12.12 and MSVC2015 i do not have this issue.
With Qt 5.15.2 and MSVC2019 i do not have this issue.

[2022-02-01 17:21] alexmucde commented on #243
With Qt 5.12.12 and MSVC2017 i do not get this issue in Debug build.

[2022-02-01 17:37] alexmucde commented on #243
Found uninitialised variables in the export function. I will provide a PR.

[2022-02-01 17:40] alexmucde commented on #243
Fixed by #251

[2022-02-02 07:59] #243 closed

[2022-03-09 13:28] sandeep1445 opened #260 "Encounters error while windows deployment."
![image](https://user-images.githubusercontent.com/45343255/157450881-825ec928-2760-4d00-a596-63722c58a44a.png)

[2022-03-10 18:05] GianlucaAgl opened #261 "Release artifacts not present in releases page, is this expected?"
It seems from changelogs and closed PRs that compiled binaries should be present in GitHub release page, but currently no binary is listed there https://github.com/COVESA/dlt-viewer/releases

Eg.
![image](https://user-images.githubusercontent.com/101354770/157723527-02fa5dd4-30e7-419b-a1e4-ca898d365910.png)

I was expecting to find the binary after having seen PR #187, that was integrated in Relea

[2022-03-19 19:11] #260 closed

[2022-04-01 13:45] beidouchangxi opened #262 "Ability for send serial message in Serial ASCII Mode?"
With Serial ASCII Mode I can actually use DLT viewer as a powerful serial debug tool.
The only downside is I cannot send a message by DLT viewer.
Is it possible for add this feature?

[2022-04-02 01:05] beidouchangxi commented on #262
Yes, I mean provide a dialog for send commands to ECU in Serial ASCII Mode, a plugin will be pretty enough to do it.
But I took a look on the API documentm, it seems like no API can provide this ability?

Another idea is use the existing "Send Injection" dialog, which is currently doing nothing in Serial ASCII Mode.

[2022-04-02 01:09] beidouchangxi commented on #262
I trying to look into code about how to do it but I am not familar with cpp and QT,
If I am lucky maybe I can provide a PR, are you interested in this PR?

[2022-04-02 11:17] beidouchangxi commented on #262
a PR is created based on "Send Injection" dialog

[2022-04-02 17:04] alexmucde commented on #262
Great thanks

[2022-04-02 21:02] alexmucde commented on #261
@GianlucaAgl We use Github Action to test PR builds. Release Artifacts should be also generated, but this is currently not working. Need some help to fix this, as i am not familiar with this.

[2022-04-13 07:30] yidaimi commented on #36
I encounted this problem in version 2.21.2 too. I want to use 'dlt-view -c' tool to convert file from dlt to file.
Unfortunatelly, the tool will be used in CentOS 7.6 server without display device.
I found this and it works:
https://serverdiary.com/linux/how-to-install-xvfb-and-create-systemd-xvfb-service-on-centos-7-8-or-rhel-7-8/
By the way ,if it doesn't work, you should execute 'export DISPLAY

[2022-05-07 07:14] alexmucde commented on #262
PR is integrated

[2022-05-07 07:14] #262 closed

[2022-05-07 07:15] alexmucde commented on #234
@SvenLuebke Is there still an activity form your side? If not i will close this issue.

[2022-05-07 07:21] alexmucde commented on #222
One idea would be to have a local temporary file and when drag and drop the DLT Viewer calls an external zip tool to unzip the files into the temporary folder and then load the unzipped files.
Please look also at the newly integrated file explorer feature. This would be an alternative for drag an drop.

Any contributer to provide a PR for this feature request?

[2022-05-07 07:24] alexmucde commented on #217
Any contributor available for this very interesting feature tô provide a PR? This would really speed up the daily work, when working with big dlt files.

[2022-05-07 07:27] alexmucde commented on #205
I see same issues also when switching between different monitors with different resolutions. Some Windows applications automatically detects this and changes the resolution. Also a zoom feature would be nice, especially useful during presentations.
Any contributers here to work on this?

[2022-05-07 07:28] alexmucde commented on #203
Any contributer available to work on this?

[2022-05-07 07:47] SvenLuebke commented on #234
@alexmucde Please don't close this issue! I have to discuss this with the company I'm working at and didn't have time to do it yet.

[2022-05-07 07:48] alexmucde commented on #200
Any contributer available to work on this?

[2022-05-07 07:48] alexmucde commented on #199
Any contributer available to work on this?

[2022-05-07 18:26] alexmucde opened #267 "Use Qt UDP classes"

[2022-05-07 19:03] alexmucde opened #268 "Crash when loading project file during online tracing"
DLT Viewer crashes when a project file is opened, while there are several ECUs connected and data is received

[2022-05-07 19:06] alexmucde opened #270 "Improve selection of serial port"
Instead of providing a list of last used serial port names, provide a list of current available serial ports on the current used PC.

[2022-05-07 21:48] #199 closed

[2022-05-07 22:07] #270 closed

[2022-05-09 06:13] #267 closed

[2022-06-09 19:39] SvenLuebke commented on #234
@alexmucde Are you able to explain the following text?:

Every contribution must carry the following sign-off line with your real name and email address:
"Signed-off-by: Firstname Lastname <[firstname.lastname@example.com](mailto:firstname.lastname@example.com)>"

Where do I have to add this sign-off line?

[2022-06-15 12:28] SvenLuebke commented on #234
Created [PR#276](https://github.com/COVESA/dlt-viewer/pull/276)

[2022-06-15 12:29] #234 closed

[2022-07-03 09:12] MaybenYi opened #277 "Installable or installable programs are provided"
Whether you can provide installable and install-free programs to re-build from code is more dependent on the environment

[2022-07-19 08:42] firedevil79 opened #279 ""set all active" / "set all inactive" in context menu for Filter is not working"
used version:
![image](https://user-images.githubusercontent.com/70649483/179704355-bb36d902-6bd5-4c49-9da5-3569fe9dcf17.png)

added a couple of filter with different content.

right click on the "activate" Filter box.
select "set all active"

reaction:
only the filter is getting active where the mouse is pointing to when selecting the right click context menu

expected:
all filter shall be active

[2022-07-19 09:19] firedevil79 opened #280 "Filter color setting is not applied when the second color is same APP (application) ID, but different CT (context) ID"
![image](https://user-images.githubusercontent.com/70649483/179708158-381c8860-4554-4f0c-8181-efbfb58a1399.png)

precondition:
there are multiple filters in the project

Filter 1:  (all Tuner messages shall be in red)
color setting: red
AppID: TUNE
CT ID: empty

Filter 2: (Tuner API shall be shown in green)
color setting: green
AppID: TUNE
CT ID; API

check DLT

only Filter 1 color is shown

I wou

[2022-07-21 07:47] cmff98 opened #281 "[FEATURE REQUEST] Load Most Recent Filters on startup"
The filters should persist between program startups

[2022-07-28 16:09] eengnr commented on #281
You can already save your filter settings into a project file and set this project file as default in the settings. Then it's loaded at startup.
Does this help?

[2022-07-28 16:11] eengnr commented on #280
Filters are applied from bottom to top. That's why it works if your Filter 2 is above Filter 1.

[2022-08-01 15:47] cmff98 commented on #281
Thanks, that is what I wanted

[2022-08-01 15:47] #281 closed

[2022-08-11 11:39] Halfgeek0 opened #285 "Make is not working in the new release"
The make command gives the below error in the latest release
commit SHA 9206b0b4ec41a134de02cbab28d35c2da24f241c

../../src/mainwindow.cpp: In lambda function:
../../src/mainwindow.cpp:6748:47: error: no matching function for call to ‘QProcess::startDetached(qint64*)’
                     process.startDetached(&pid);

[2022-09-29 17:15] HaoLiuwide opened #290 "How to append multiple dlt files into 1 dlt file"
In our project, multiple dlt files are transferred to us to analyze. But dlt-viewer can only append dlt file one by one. We simply read all dlt file in "rb" format and put them together. Most time this method works fine, but sometimes filter function does not work to the jointed dlt file. What is the proper way to do the combination of multiple dlt logs?

thx!

[2022-10-13 12:41] carlossilva2 opened #291 "[MacOS] Plugins makes DLT crash on start"
When building from source on Mac, if there are plugins on the package the App doesn't start and keeps crashing.

Did I miss anything?
Is any step missing on the Readme/Install file?

[2022-10-14 19:01] alexmucde commented on #291
@carlossilva2 Could it be that you have somewhere old plugins which are not matching the Qt version or the DLT Viewer version. This could cause crashes.

[2022-10-14 19:13] alexmucde commented on #290
@HaoLiuwide You can open several DLT files at once in the DLT Viewer by drag&drop or in the Open Dialog. What else do you want?

[2022-10-14 19:15] alexmucde commented on #285
@Halfgeek0 We do not know any issues. Is it possible that you are using Qt6, which is not supported yet?

[2022-10-14 19:21] alexmucde commented on #280
@firedevil79 Marking of messages depends on the order. Thefirst filter which matches from top wins.

[2022-10-14 19:26] alexmucde commented on #279
@firedevil79 I tried it, looks like a feature. If you select all filters and the press "set all active" it works.

[2022-10-14 19:28] alexmucde commented on #277
@MaybenYi There are some executables generated with each commit or pull request, which you can download. Please check if this is enough for you.

[2022-10-14 19:30] alexmucde commented on #268
This can be easily reproduced.
Changing the project during active connection must be prevented.

Pull request needed to solve this issue. Any contribution from the community?

[2022-10-14 19:31] alexmucde commented on #261
Any help from the community?

[2022-10-16 22:30] carlossilva2 commented on #291
I don't think so.

I'm using qt5, cmake and qt-creator to generate the image file.
`mkdir build && cd build && Qt5_DIR="/usr/local/opt/qt5" cmake -S .. -B . && sudo make install`.
Anything missing from here?

[2022-10-21 07:34] svlad-90 opened #292 "Fix dead-lock in the dltpluginmanager"
The following change has introduced a regression: https://github.com/COVESA/dlt-viewer/commit/1371752f44e1de25dbad09f6844e680df19c4a21#diff-dc558987f684b77dfc70ddd66149c9cb7d73ab85649f8efa836d3b7c2ed31530

The pMutex_pluginList was added to the QDltPluginManager class in order to sync its calls, which might be done from different threads.

That added mutex is causing a deadlock for some of the plu

[2022-10-21 07:35] alexmucde commented on #291
The build should work, but there could be some old plugins somewhere in the filesystems, which are then tried to be loaded with wrong or old build system. Please try to cleanup whole filesystem first before building.

[2022-10-21 07:59] svlad-90 commented on #292
A PR was created, which covers this issue:
https://github.com/COVESA/dlt-viewer/pull/293

@alexmucde, please, have a look. It is a trivial fix, so should not take much time to review.

Still, it is quite important, as some of the plugins are causing a deadlock without this patch.

[2022-10-21 17:31] Usha-Rajanna commented on #285
@Halfgeek0 can you please specify the platform you are using,  if Linux please use 20.04 Ubuntu

[2022-10-21 17:44] Usha-Rajanna commented on #285
@Halfgeek0 Can you please tell us the platform you are using , if it is Linux use 20.04 Ubuntu.
I hope this should solve your problem.

[2022-10-24 16:58] Usha-Rajanna commented on #222
@endzone as Alex mentioned Qt does not provide any inbuilt function to uncompress the .zip file.
Only way is to use third party .dll files called quazip and zlib. But due to the restrictions of using third party dll's
We have stopped this enhancement for now.

If any one can suggest any other Qt inbuilt way to unzip the file. We would surely take this up in future enhancement.

[2022-10-26 07:20] #291 closed

[2022-10-26 17:03] khs7196 opened #294 "Try to connect ECU on serial port "\\.\COM38""
Hi Developer!

I'm trying to connect ECU thru serial port on Window but I have no idea how to use it.

**Port:** \\.\COM38
**Baudrate:** 115200

Could you please let me know how to use serial port thing?

Thank you

[2022-10-27 09:03] alexmucde commented on #294
@khs7196 Yes this should work, you can also simply type COM38. Lattest version on Github will provide an improved possibility for selection.

[2022-10-27 09:17] khs7196 commented on #294
Thank you for feedback!!

I think I'm already trying with latest version but it is not working.

If the debugging board has id/pw, should I type it differently? For example, COM38\root\root?

[2022-10-27 09:41] alexmucde commented on #294
I used serial connections all time and it was working fine. COM38 should be sufficient. Must be another issue with your PC.

[2022-10-28 11:51] Usha-Rajanna commented on #261
@GianlucaAgl  Sorry we have not planned to release any binaries for now. But we have CI artifacts available. Please check the attachements. Thank you.
![MicrosoftTeams-image](https://user-images.githubusercontent.com/110012570/198580481-5b2e8e28-0b3c-4625-93c0-c92398275708.png)
![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/110012570/198580609-11e6e2c4-e803-4f31-9259-c4b42db

[2022-10-28 11:52] Usha-Rajanna commented on #261
Wont be fixed

[2022-10-28 11:52] #261 closed

[2022-11-06 11:14] bovirus opened #295 "Home page at https://at.projects.genivi.org/wik not responding"
@Usha-Rajanna

The home page at at.project.,org

https://at.projects.genivi.org/wiki/display/PROJ/Diagnostic+Log+and+Trace

not responding

[2022-11-06 11:16] bovirus opened #296 "QT source code - Enable multilanguage interface"
@Usha-Rajanna

Thanks a lot for your project

You are developping your project in QT,

One of powerful featiure of QT is the native option for multilanguage interface using external .ts language file.

Could you please consider to modify the source code to use external .ts language file to have multilanguage interface?

Thanks.

[2022-11-06 11:23] bovirus opened #297 "Compiled version (windows 32/64bit and Linux)"
@Usha-Rajanna

Could you please consider to provide in "Release" tag not only source code but also compiled vesrion (for Windows 32 and 64bit and Linxu)?

It's an important feature for people that don't have knowledge/resources to compile your source code.

Thanks.

[2022-11-06 17:53] Usha-Rajanna commented on #297
@bovirus Sorry at the moment we cannot agree for the Release tags, but I will help you to resolve any issue You face while building the dlt-viewer.
Please let me know if you are facing some issue to compile the Source code.

[2022-11-06 18:50] bovirus commented on #297
@Usha-Rajanna

I compield version 22.0. and 213.0 (beta) in my configuratyion.

Some note:

Your source is based on Qt 5.15.2 and seems didn't work with Qt 6.4.0 (latest offciail build).

Then I insttaled in my system QT 5.15.2.

You build_connfig.bat is based on Visual C+ not free ("Enterprise) an not on other version (ex. free VC++ "Community" version).

To work with my configuration (Visual C+

[2022-11-07 08:09] Usha-Rajanna commented on #297
@bovirus use QT 5.12.12 and  VS 2017 community is free and while installing add windows sdk 10 and include c++/c package
QWT is not needed to build the source code.
QTVER=512.12
QTDIR=C:\QT\%QTVER%\msvc%MSVC_VER%_64
Check the path of QT and VS path is correct in your case.
SDK path give complete path if you have not set the current directory.

and DLt will not support QT 6 and above version.

[2022-11-21 11:44] tomasdrozdskodaauto opened #299 "Linefeeds or Cariage Return in corrupted DLT causes CSV export inconsistency"
Some corrupted DLT files might contain some Linefeeds or Cariage Return for example in EcuId, AppId or CtxId. This causes a line wrap. When exporting to CSV, the number of columns is not correct in some lines. This makes the CSV unusable in some applications.

Perhaps during Export all Linefeeds and Carriage Return should be removed.

![DLT_corrupted](https://user-images.githubusercontent.com/1057

[2022-11-24 07:48] SvenLuebke commented on #217
Thank you very much @Manik-ltts and @alexmucde for implementing this feature!